@import '../../../../../src/styling-variabler.less';
@import '~nav-frontend-core/less/_variabler';
@import 'hamburger-ikon/HamburgerIkon';

.desktop-hovedmeny {
    &__knapp-visning {
    }

    @media (max-width: @minimumMobilWidth) {
        &__menyknapp-visning {
            padding: 0.4rem 0.2rem;
        }
    }

    @media (min-width: @tabletLimitWidth) {
        &__menyknapp {
            border-radius: 3px;
        }

        &__menyknapp-visning {
            padding: 0.4rem 0.7rem;
        }

        &__hamburger-knapp {
            margin-right: 0.5em;
        }
    }
}
