@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.hovedmeny .sok-container {
    width: 30rem;
    display: block;
    position: relative;

    .sok-input-resultat {
        display: inline-block;
        width: 20rem;
        margin-right: 1rem;
        position: relative;

        .sok-input {
            margin-bottom: 0;
            .skjemaelement__label {
                margin-left: -3000px;
                position: absolute;
                line-height: 0;
                height: 0;
                width: 0;
                color: transparent;
            }

            input[type='search'] {
                box-sizing: border-box;
            }
        }
        .sokeresultat-liste {
            background-color: white;
            position: absolute;
            top: 100%;
            overflow: hidden;

            li {
                border: @navGra40 1px solid;
                padding: .5rem 1rem;
            }
        }
    }
    .sok-knapp {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 9rem;
    }
}