@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.hovedmeny .sok .sok-container {
    width: 27.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sok-input-resultat {
        position: relative;

        .skjemaelement__label {
            margin-left: -3000px;
            position: absolute;
            line-height: 0;
            height: 0;
            width: 0;
            color: transparent;
        }

        .sok-input {
            margin-bottom: 1px;
            width: 20rem;
        }

        .sokeresultat-liste {
            background-color: white;
            position: absolute;
            top: 100%;
            overflow: hidden;

            li {
                border: @navGra40 1px solid;
                padding: 0.5rem 1rem;
            }
        }

        input[type='search'] {
            box-sizing: border-box;
        }
    }
}
