@use 'src/styling-variabler' as sv;

.varslerDropdown {
    @media #{sv.$screen-desktop} {
        left: auto;
        right: 0;
        max-width: 540px;
    }
}

.varslerInnhold {
    overflow-y: auto;
    max-height: 80vh;
    background-color: var(--a-surface-subtle);

    @media #{sv.$screen-mobile} {
        max-height: 100%;
    }
}
