@use 'src/styling-variabler' as sv;

.varsler-dropdown {
    @media #{sv.$screen-desktop} {
        left: auto;
        right: 0;
        max-width: 540px;
    }
}

.varsler-innhold {
    overflow-y: auto;
    max-height: 80vh;

    @media #{sv.$screen-desktop} {
        overflow-y: scroll;
        max-height: 80vh;
    }

    @media #{sv.$screen-mobile} {
        max-height: 100%;
    }


}

#varsler-dropdown {
    background-color: #f7f7f7;
}