@use 'src/styling-variabler' as sv;

.dekoratorLenke {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;

    @media #{sv.$screen-desktop-small-down} {
        padding: 0.375rem 0;
    }

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.0625em;
        text-underline-offset: 0.15em;
    }

    &:focus {
        outline: none;
        color: #fff;
        text-decoration: none;
        background-color: var(--a-border-focus);
        box-shadow: 0 0 0 2px var(--a-border-focus);

        svg,
        path {
            fill: white;
            stroke: white;
        }
    }
    & svg {
        width: 1em;
        height: 1em;
        fill: var(--a-text-action);
        stroke: var(--a-text-action);
        vertical-align: middle;
        position: relative;
        top: -0.125em;
    }
}

.lenkeMedSporing {
    text-decoration: underline;
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.15em;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.ikonContainer {
    min-width: 1.75rem;
}

.chevronlenke {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.0625em;
        text-underline-offset: 0.15em;

        .chevron {
            left: 0.33em;
        }
    }
}

.chevron {
    position: relative;
    transition: left 250ms;
    top: -1px;
    left: -2px;
}
