@use 'src/styling-variabler.scss' as sv;

:global(.desktop-minside-meny__knapp) {
    :global(.navds-label) {
        display: flex;
        gap: var(--a-spacing-2);
    }
}

.brukernavn {
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.chevron {
    display: flex;
    align-items: center;
    margin-left: -0.25rem;

    & > * {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.chevronOpen {
    transform: rotateZ(180deg);
}
