@use 'src/styling-variabler.scss' as sv;

.arbgiverKnapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;

    text-decoration: none;
    white-space: nowrap;

    &:hover {
        box-shadow: inset 0 0 0 2px var(--navds-semantic-color-interaction-primary);
    }

    svg {
        height: 32px;
        width: 32px;
    }
}

.brukernavn {
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.chevron {
    display: flex;
    align-items: center;
    margin-left: -0.25rem;
}

.chevronOpen {
    transform: rotateZ(180deg);
}
