@import (reference) '../../../../../../styling-variabler.less';
@import (reference) '../../../common/meny-knapp/MenylinjeKnapp';

.desktop-minside-meny {
    &__innhold {
        padding: 0 5rem 2rem 5rem;
    }

    &__knapp {
        .menylinje-knapp;
        overflow: hidden;
        max-width: 12rem;

        img {
            width: 32px;
            margin-right: 0.5rem;
        }
    }

    &__knapp-tekst {
        display: block;
        text-align: left;
        transition: all 0.35s ease-in-out;
    }

    &__knapp-tekst-topp {
        display: block;
        font-weight: 700;
        font-weight: bold;
        transition: all 0.35s ease-in-out;

        &--open {
            transform: translateY(8px);
        }
    }

    &__knapp-tekst-bunn {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        position: relative;
        bottom: 0;
        max-width: 9rem;

        margin-top: -0.25em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: capitalize;

        transition: all 0.35s ease-in-out;

        @media @screen-desktop-small-width-down {
            max-width: 7rem;
        }

        &--open {
            bottom: -75px;
            visibility: hidden;
        }
    }
}
