@import '~nav-frontend-core/less/_variabler';
@import '../../../../styling-variabler.less';

.meny {
    &__meny-innhold {
        display: flex;
        flex-direction: row;
        max-width: @desktopLimitWidth;
        overflow: hidden;

        margin-bottom: 0;
        max-height: 0;
        transition: all 0.7s ease-in-out;

        &--aktive {
            margin-bottom: 2rem;
            max-height: 40rem;
        }
    }
}
