@import (reference) '../../../../styling-variabler.less';

.driftsmeldinger {
    background-color: #00548e;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;

    .message {
        color: #fff;
        padding: 0.5rem;
        margin: 0 1.5rem;
        display: inline-flex;
        align-items: center;

        &:focus {
            color: #0067c5;
            background-color: #fff;
            text-decoration: underline;
            box-shadow: none;
        }

        .message-icon {
            margin-right: 0.5rem;
        }
    }
}
