@import (reference) '../../../../styling-variabler.less';

.driftsmeldinger {
    background-color: #00548e;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;

    @media @screen-mobile {
        justify-content: start;
    }

    @media @screen-desktop {
        justify-content: center;
    }

    .message {
        color: #fff;
        padding: 0.5rem;
        display: inline-flex;
        align-items: center;

        @media @screen-desktop {
            margin: 0 1.5rem;
        }

        @media @screen-mobile {
            margin: 0 0.5rem;
        }

        &:focus {
            color: #0067c5;
            background-color: #fff;
            text-decoration: underline;
            box-shadow: none;
        }

        .message-icon {
            margin-right: 0.5rem;
        }
    }
}
