@import '../../../../styling-variabler.less';
@import '~nav-frontend-core/less/_variabler';

.login-container {
    &:hover {
        outline: 1px solid black;
    }

    .knapp {
        // padding: calc(0.475rem - 1px) 1.2rem calc(0.525rem - 1px) 1.2rem;
    }

    .mobil-login-knapp {
        padding: 0.5rem 1rem;
        margin-left: 3px;
        text-transform: none;
    }

    @media (max-width: @minimumMobilWidth) {
        .mobil-login-knapp {
            padding: 0.5rem 0.5rem;
        }
    }
}

@media (min-width: @desktopLimitWidth) {
    .login-container {
        margin-left: 3px;

        &:hover {
            outline: 0;
        }
    }
}
