@import '../../../../styling-variabler.less';
@import '~nav-frontend-core/less/_variabler';

.login-container {
    .knapp {
        text-transform: none;
        letter-spacing: initial;
    }

    .mobil-login-knapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.4rem 0.7rem 0.4rem 0.7rem;
        text-decoration: none;
        color: black;
        background-color: white;
        border: none;
        margin-left: 3px;

        &:focus {
            outline: 3px solid @fokusFarge;
        }
    }

    @media (max-width: @minimumMobilWidth) {
        .mobil-login-knapp {
            padding: 0.4rem 0.2rem;
        }
    }
}
