@use 'src/styling-variabler' as sv;

.menylinjeBottom {
    background-color: var(--navds-global-color-deepblue-800);
    color: white;

    display: flex;
    justify-content: center;

    @media #{sv.$screen-desktop} {
        padding: 1rem sv.$margins-sides-footer;
    }

    @media #{sv.$screen-desktop-small-width-down} {
        padding: 1rem sv.$margins-sides-footer-small;
    }
}

.footerBottomContent {
    width: 100%;
    max-width: 1344px;
    padding-bottom: 4rem;

    @media #{sv.$screen-mobile} {
        padding-bottom: 2.5rem;
    }
}

.topRow {
    position: relative;
    display: flex;
}

.bottomLenker {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0.5rem;
    width: 100%;

    div {
        width: 100%;
    }
}
