@use 'src/styling-variabler' as sv;

.menylinjeBottom {
    background-color: var(--a-deepblue-800);
    color: white;
    display: flex;
    justify-content: center;

    @media #{sv.$screen-desktop} {
        padding: 1rem sv.$margins-sides-footer;
    }

    @media #{sv.$screen-desktop-small-width-down} {
        padding: 1rem sv.$margins-sides-footer-small;
    }
}

.footerBottomContent {
    width: 100%;
    max-width: 1344px;
    padding-bottom: 2.5rem;
    
    @media #{sv.$screen-desktop} {
      padding-bottom: 4rem;
    }
}

.topRow {
    position: relative;
    display: flex;
}

.bottomLenker {
    padding-top: 0.5rem;
}
