@import (reference) '../../../../styling-variabler';

.menylinje-bottom {
    display: flex;
    padding: 2rem 1rem;
    justify-content: center;
    @media (min-width: @desktopMinWidth) {
        padding: 1rem 2rem 2rem 2rem;
    }
}

.footer-bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1344px;

    .top-row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .nav-logo-lenke {
            width: 68px;
            padding: 0.25rem;
            margin-bottom: 0.25rem;
        }
    }

    @media (max-width: @desktopMinWidth) {
        &__personvern-lenker {
            li {
                padding: 0.375rem 2rem 0.375rem 0;
            }
        }
    }

    @media (min-width: @desktopMinWidth) {
        justify-content: space-between;

        &__bottom-lenker {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__personvern-lenker {
            display: flex;
            margin: 0;
            li {
                padding-right: 2rem;
            }
        }
    }
}
