@import (reference) '../../../../styling-variabler.less';

.menylinje-bottom {
    display: flex;
    padding: 1rem;
    justify-content: center;
    @media (min-width: @desktopMinWidth) {
        padding: 2rem;
    }
}

.footer-bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1344px;

    &__bottom-logo {
        height: 64px;
        width: 64px;
        &:hover {
            height: 68px;
            width: 68px;
        }
    }

    @media (min-width: @desktopMinWidth) {
        justify-content: space-between;

        &__bottom-lenker {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        ul {
            margin: 0;
        }
    }

    @media (min-width: 1300px) {
        &__bottom-lenker {
            width: 85%;
        }
    }
}
