@import (reference) '../../../../../../styling-variabler.less';

.desktop-hovedmeny {
    &__topp-seksjon {
        display: flex;
        flex-direction: column;

        margin: 0 -@margins-sides-desktop 1rem -@margins-sides-desktop;
        padding: 0 @margins-sides-desktop;
    }

    &__topp-seksjon-tittel {
        margin-top: 1rem;
    }

    &__forside-lenke {
        padding: 0.5rem 0 1rem 0;
        margin-right: auto;
    }
}
