@import (reference) '../../../../../../src/styling-variabler.less';
@import (reference) '../ekspanderbar-meny/EkspanderbarMeny';

.desktop-hovedmeny {
    &__innhold-wrapper {
        left: 150px;
        max-width: 150px;
        transition-property: @ekspanderbar-transition-props, max-width, left;

        /*
        position: absolute;
        z-index: 1001;
        overflow: hidden;
        max-height: 0;
        max-width: @desktopLimitWidth / 3;
        //visibility: hidden;
        opacity: 0;
        background-color: white;
        border-bottom-left-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
        */
        //transition-duration: 0.7s;
        //transition-timing-function: ease-in-out;
        //transition-property: all;

        &--aktive {
            max-width: 100%;
            left: 0;
            //    max-height: 60rem;
            // opacity: 1;
            // transform: translate(60rem, 100%);
            // transition: transform 300ms linear;
            // will-change: transform;
            //max-width: 100%;
            //  visibility: visible;
        }
    }

    &__innhold {
    }
}
