
.varsel {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__ikon-container {
        //
    }

    &__innhold {
        display: flex;
        flex-direction: row;
    }

    &__datotid {
        //
    }

    &__melding {
        //
    }

    &__lenke {
        //
    }
}
