.delskjerm{
  &__modal{
    max-width: 35rem;
    position: relative;
  }
  &__content{
    padding: 3rem 4rem 2rem 4rem;
  }
  &__beskrivelse{
    margin:1rem 0 2rem 0;
  }
  &__header{
    width:100%;
    top: -2rem;
    left: 0rem;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  &__veileder{
    height: 2rem;
    width: 2rem;
    background-color: blue;
  }
  &__knapper{
    margin-top: 2rem;
    display: flex;
    > * {
      margin-right: 0.5rem;
    }
  }
}

