.delskjerm{
  &__modal{
    padding: 3rem 4rem 2rem 4rem;
    max-width: 35rem;
    position: relative;
  }
  &__content{
    margin: 2rem
  }
  &__beskrivelse{
    margin:1rem 0 2rem 0;
  }
  &__knapper{
    margin-top: 2rem;
    display: flex;
    > * {
      margin-right: 0.5rem;
    }
  }
}

