@use 'src/styling-variabler.scss' as sv;

.sok-input-resultat {
    .sok-input-container {
        position: relative;
        display: flex;
    }
    .sok-input {
        margin: 0;
        width: 100%;

        input {
            margin-top: 0;
        }
    }
    @media #{sv.$screen-desktop} {
        .sok-input {
            input {
                padding: 0.75rem;
                border: 2px solid var(--a-blue-500);
                &::-ms-clear {
                    display: none;
                }
            }

            .skjemaelement__input {
                padding-right: 12rem;
            }
        }
        .sok .sok-container {
            width: auto;
            justify-content: center;
            align-items: flex-start;
            z-index: initial;

            .sok-ikon {
                position: relative;
                top: 0.35rem;
                right: 2.75rem;
                pointer-events: none;
            }
        }
    }
    @media #{sv.$screen-mobile} {
        .sok-input__tittel {
            margin-bottom: 1rem;
        }
        .sok-input {
            input {
                padding: 0.7rem 1rem;
                border: 2px solid var(--a-blue-500);
                background-color: var(--a-surface-default);

                &:focus,
                &:active {
                    border: 2px solid var(--a-blue-500);
                }
            }
            .skjemaelement__input {
                padding-right: 8.5rem;
            }
        }
    }
}
