@use 'src/styling-variabler.scss' as sv;

.sok-input {
    margin: 0;
    width: 100%;

    input {
        margin-top: 0;
    }

    .navds-search__button-search {
        border-radius: 0;
        border-top-right-radius: var(--a-border-radius-medium);
        border-bottom-right-radius: var(--a-border-radius-medium);
    }
}
