@import (reference) '../../../../../../styling-variabler.less';

.sok-knapper {
    &__container {
        display: flex;
        height: 3rem;
        position: absolute;
        top: 42px;
        right: 0;
    }

    &__knapp {
        display: flex;
        height: 100%;
        background: none;
        align-items: center;
        color: @navds-global-color-blue-500;
        padding: 0 1rem;
        font-weight: 600;
        border: 3px solid transparent;
        cursor: pointer;

        &:focus {
            z-index: 1;
            outline: 0;
            background-color: white;
            box-shadow: 0 0 0 3px @navds-semantic-color-focus;
            color: @navds-global-color-blue-500;
        }

        &:hover {
            border-color: @navds-global-color-blue-500;
        }
    }

    &__ikon-container {
        width: 32px;
        height: 24px;
        padding: 0;
        display: block;
    }

    @media @screen-desktop {
        &__knapp-submit {
            border-radius: 0 5px 5px 0;
            color: white;
            background-color: @navds-global-color-blue-500;

            .sok-ikon {
                &__line {
                    background-color: @navds-global-color-white;
                }
                & > * {
                    border-color: @navds-global-color-white;
                }
            }

            &:active,
            &:hover {
                color: white;
                border-color: #0074df;
                background-color: #0074df;

                .sok-knapper__sok-circle {
                    border-color: white;
                }

                .sok-knapper__sok-line {
                    background-color: white;
                }
            }

            &:focus {
                .sok-ikon {
                    &__line {
                        background-color: @navds-global-color-blue-500;
                    }
                    & > * {
                        border-color: @navds-global-color-blue-500;
                    }
                }
            }
        }

        &__knapp-tekst {
            margin-left: 0.5em;
            font-family: 'Source Sans Pro', Arial, sans-serif;
            font-size: 1rem;
        }
    }

    @media @screen-mobile {
        &__container {
            align-self: center;
            margin-right: 0.5rem;
            height: 4rem;
        }

        &__knapp-submit {
            background-color: transparent;

            .sok-knapper__ikon-container {
                bottom: 4px;
            }
        }

        &__knapp-tekst {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            white-space: nowrap;
        }
    }
}
