@import '~nav-frontend-core/less/_variabler';
@import '../../../../../../../../styling-variabler.less';

.mobilmeny {
    &__meny {
        &--top {
            width: 100%;
            max-height: 6rem;
            padding: 1rem 0 2rem 0;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            position: relative;

            a.nav-brand-lenke {
                svg.modal-logo-svg {
                    width: 73px;
                    height: 46px;
                    &:focus {
                        outline: none;
                    }
                }
                &:focus {
                    outline: 2px solid @fokusFarge;
                }
            }
        }

        &--lukkmeny-ramme {
            height: 44px;
        }
    }

    &__lukkmeny-knapp {
        width: 44px;
        height: 44px;
        border: none;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin: 0 1rem;
        background-color: @navBlaLighten80;

        &:after {
            left: 50%;
            top: 50%;
            margin-left: -11px;
            width: 22px;
            height: 2px;
            background-color: @navBla;
            content: '';
            position: absolute;
            transform: rotate(-45deg);
        }

        &:before {
            left: 50%;
            top: 50%;
            margin-left: -11px;
            width: 22px;
            height: 2px;
            background-color: @navBla;
            content: '';
            position: absolute;
            transform: rotate(45deg);
        }

        &:focus {
            outline: 2px solid @fokusFarge;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__lukkmeny-knapp[data-animation='beat-rotation']:not(.heartbeat) {
        transition: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
    }

    @keyframes beat {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.8);
        }
    }

    .heartbeat {
        animation: beat 0.1s 2 ease-in-out alternate;
    }
}
