.sticky-container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sticky-placeholder {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}
