@import (reference) './../../../../../styling-variabler.less';

.sticky-placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: @header-height-mobil;

    @media @screen-desktop {
        height: @header-height-desktop;
    }
}

.simple {
    .sticky-placeholder {
        height: @header-height-simple-mobile;

        @media @screen-desktop {
            height: @header-height-simple-desktop;
        }
    }
}

.sticky-container {
    margin: 0;
    padding: 0;
    width: 100%;

    &--mobil-fixed {
        @media @screen-mobile {
            position: fixed !important;
            top: 0 !important;
        }
    }
}
