@import (reference) '../../../../../styling-variabler.less';

.login-knapp.navds-button {
    .navds-button__inner {
        font-weight: 600;
    }

    @media @screen-desktop {
        border: 2px solid @navds-semantic-color-link;
        padding: 0.625rem 1rem;
    }

    @media @screen-mobile {
        padding: 0.5rem 1rem;
    }

    @media @screen-mobile-small-down {
        padding: 0.5rem 0.5rem;
    }
}
