@import (reference) '../../../../../styling-variabler.less';

// Safari fix
.set-text-color(@mainColor, @activeColor, @hoverColor, @focusColor) {
    -webkit-text-fill-color: @mainColor;
    &:hover,
    &:hover:focus {
        -webkit-text-fill-color: @hoverColor;
    }
    &:active,
    &:active:hover,
    &:active:focus {
        -webkit-text-fill-color: @activeColor;
    }
    &:focus {
        -webkit-text-fill-color: @focusColor;
    }
}

.login-knapp-mixin() {
    box-sizing: border-box;
    text-transform: none;
    letter-spacing: initial;
    .typo-undertittel;

    &:focus {
        box-shadow: 0 0 0 4px @fokusFarge;
        border-radius: 4px;
    }
}

.login-knapp.knapp--standard {
    // Hindrer overstyring av styling på knapper fra appene
    all: unset;

    @media (min-width: @desktopMinWidth) {
        .knapp;
        .login-knapp-mixin();
        .set-text-color(@navBla, @white, @white, @navBla);
        padding: 0.625rem 1rem;
    }

    @media (max-width: @mobilMaxWidth) {
        .knapp--flat;
        .login-knapp-mixin();
        .set-text-color(@navBla, @navBla, @navBla, @navBla);
        padding: 0.5rem 1rem;
    }

    @media (max-width: @minimumMobilWidth) {
        padding: 0.5rem 0.5rem;
    }
}
