@use 'src/styling-variabler' as sv;
@use '../meny-knapp/MenylinjeKnappMixin';

.loginKnappContainer {
    display: flex;
}

.loginKnapp {
    @include MenylinjeKnappMixin.menylinjeKnappMixin;
    align-self: center;
    opacity: 1;

    .loginIconLoading {
        animation-name: loading;
        animation-duration: 1500ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;

        transform: rotateY(0);

        @keyframes loading {
            0% {
                transform: rotateY(0);
            }

            100% {
                transform: rotateY(360deg);
            }
        }
    }

    :global(.navds-label) {
        min-width: 4.125rem; //settes for å unngå at knappene spretter etter at "Laster.." er ferdig, bør fikses så den ikke settes også på "Logg ut"
    }

    .loginTextLoading:after {
        content: '';
        display: inline-block;
        min-width: 0.9375rem;
        text-align: left;

        animation-name: ellipses;
        animation-duration: 1500ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;

        @keyframes ellipses {
            0% {
                content: '';
            }

            // Use an empty string as alt text to hide these purely decorative characters from screen readers
            25% {
                content: '.' / '';
            }

            50% {
                content: '..' / '';
            }

            75% {
                content: '...' / '';
            }
        }
    }
}
