.sprakvelger {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;

    &__select {
        width: 250px;
    }

    &__placeholder {
        display: flex;
        flex-wrap: nowrap;
    }

    &__chevron {
        margin-right: 0.5rem;
    }

    &__ikon {
        width: 20px;
        height: 20px;
        filter: invert(50%);
        margin-right: 0.5em;
    }
}
