@import (reference) '../../../../../../styling-variabler.less';
@import (reference) '../ekspanderbar-meny/EkspanderbarMeny';

.desktop-sok-dropdown {
    &__innhold {
        max-width: 700px;
    }

    &__innhold-wrapper {
        left: 300px;
        max-width: 150px;
        transition-property: @ekspanderbar-transition-props, max-width, left;

        &--aktive {
            max-width: 700px;
            left: 0;
        }
    }
}
