@import (reference) '../../../../../styling-variabler.less';

.session-timeout-msg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    max-width: @desktopMaxWidth;
    margin: 0.5rem auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-100px);
    transition-property: visibility, transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

    &--visible {
        visibility: visible;
        transform: none;
        opacity: 1;
    }

    .alertstripe {
        width: 375px;
        margin: 0 @margins-sides-desktop;
        align-items: center;

        @media (max-width: @smallDesktopLimitWidth) {
            margin: 0 @margins-sides-desktop-small;
        }

        @media (max-width: @mobilMaxWidth) {
            margin: 0 @margins-sides-mobil;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
