@import (reference) '../../../../../styling-variabler.less';

.session-timeout-msg-wrapper {
    position: absolute;
    width: 100%;
    max-width: @desktopMaxWidth;
    margin: 0.5rem auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.session-timeout-msg {
    margin: 0 @margins-sides-desktop;
}
