.nedtrekksmeny {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 0.5rem;
    min-height: 3.5rem;
    background-color: white;
    border-bottom: 2px solid #0067c5;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 156px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__meny {
        display: flex;
        flex-direction: row;
        width: 1024px;
    }

    &__function-components {
        display: flex;
        align-items: center;
        width: 924px;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 0.5rem;
    }

    & .btn {
        padding-right: 0.125rem;
    }

    &__dropdownMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0.4rem 0.7rem;
        width: fit-content;

        &:hover {
            border: 1px black solid;
            background-color: #e6e6e6;
            cursor: pointer;
        }

        .hamburgerIkon {
            margin-right: 0.5rem;
        }

        &__hoyreMeny {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .login-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .login-details-name {
            padding-right: 1rem;
            padding-left: 0.5rem;
            color: black;
            text-transform: capitalize;
        }
    }

    &__menyButton {
        text-decoration: none;
        color: black;

        &:focus {
            text-decoration: none;
            background-color: initial;
            box-shadow: none;
            color: black;
        }
    }

    &__menyvalg {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        overflow: hidden;
        transition: max-height 0.7s;
        max-height: 0;
        max-width: 1024px;
    }

    &__hovedSeksjon {
        flex-grow: 6;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: white;
        margin-bottom: 0.2rem;

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        a:hover {
            text-decoration: underline;
        }

        li {
            list-style-type: initial;
        }
    }

    &__minSideSeksjon {
        flex-grow: 1;
        display: grid;
        grid-template-columns: auto;
        margin-left: 0.5rem;
        margin-bottom: 0.2rem;
        background-color: white;
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
        min-width: 8rem;
        padding-left: 1.5rem;

        a {
            color: black;
            &:active {
                color: black;
                font-weight: bold;
            }
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            max-width: 12rem;
        }
    }

    &__minside-lenke {
        text-decoration: none;
    }

    &__minside-list-item {
        padding: 0.125rem 0 0.125rem 0;
    }

    &__til-minside-lenke {
        list-style-type: none;
        margin-left: -6px;
        padding-top: 1.25rem;
    }

    &__seksjon {
        padding-left: 2rem;
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
    }

    &__menyvalg {
        &--active {
            margin-bottom: 2.5rem;
            max-height: 40rem;
        }
    }

    .lenke:active,
    .lenke--active {
        color: black;
        font-weight: bold;
    }

    @media (min-width: 765px) {
        flex-direction: column;
        justify-content: space-between;
    }
}
