.nedtrekksmeny {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    min-height: 3.5rem;
    padding-left: 1rem;

    &__dropdownMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.4rem 0.7rem;
        width: fit-content;
        margin: 0;

        &:hover {
            border: 1px black solid;
            background-color: #e6e6e6;
            cursor: pointer;
        }

        .hamburgerIkon {
            margin-right: 0.5rem;
        }

        &__hoyreMeny {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .login-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .login-details-name {
            padding-right: 1rem;
            padding-left: 0.5rem;
            color: black;
            text-transform: capitalize;
        }
    }

    &__menyButton {
        text-decoration: none;
        color: black;

        &:focus {
            text-decoration: none;
            background-color: initial;
            box-shadow: none;
            color: black;
        }
    }

    &__menyvalg {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        overflow: hidden;
        transition: max-height 0.7s;
        max-height: 0;
    }

    &__hovedSeksjon {
        flex-grow: 6;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: white;
        margin-bottom: 0.2rem;

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        a:hover {
            text-decoration: underline;
        }

        li {
            list-style-type: initial;
        }
    }

    &__minSideSeksjon {
        flex-grow: 1;
        display: grid;
        grid-template-columns: auto;
        margin-left: 0.5rem;
        margin-bottom: 0.2rem;
        background-color: white;
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
        min-width: 15rem;
        padding-left: 1.5rem;

        a {
            text-decoration: underline;
            color: black;
        }

        a:hover {
            text-decoration: none;
        }

        p {
            max-width: 12rem;
        }

        li {
            list-style-type: initial;
            padding-top: 8px;
            padding-bottom: 6px;
        }

        ul {
            padding-left: 0.75rem;
        }
    }

    &__seksjon {
        padding-left: 2rem;
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
    }

    &__menyvalg {
        &--active {
            max-height: 25rem;
        }
    }

    @media (min-width: 765px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
