.desktop-sok-dropdown {
    .ekspanderbar {
        &__innhold-wrapper {
            width: 43.75rem;
            transition-duration: 0.2s;

            &--active {
                max-height: 12rem;
                transition-duration: 0.3s;
            }
        }
    }
}
