@import '../../../../../../styling-variabler.less';

.desktop-minside-meny {
    &__innhold {
        padding: 0 5rem 2rem 5rem;
    }

    &__knapp-visning {
        width: 10rem;
        overflow: hidden;

        img {
            width: 32px;
            margin-right: 0.5rem;
        }
    }

    &__knapp-tekst {
        text-align: left;
    }

    &__knapp-tekst-topp {
        font-weight: bold;
    }

    &__knapp-tekst-bunn {
        margin-top: -0.25em;
        overflow-x: hidden;
        white-space: nowrap;
    }
}
