@import '../../../../../../styling-variabler.less';

.desktop-minside-meny {
    &__innhold {
        padding: 0 5rem 2rem 5rem;
    }

    &__knapp-visning {
        overflow: hidden;
        max-width: 12rem;
        @media (max-width: @smallDesktopLimitWidth) {
            max-width: 10rem;
        }

        img {
            width: 32px;
            margin-right: 0.5rem;
        }
    }

    &__knapp-tekst {
        text-align: left;
        transition: all 0.35s ease-in-out;
    }

    &__knapp-tekst-topp {
        .typo-normal;
        font-weight: bold;
        transition: all 0.35s ease-in-out;

        &--open {
            .typo-undertittel;
            font-weight: normal;
            transform: translate(2px, 7px);
        }
    }

    &__knapp-tekst-bunn {
        .typo-undertekst;
        position: relative;
        bottom: 0;
        max-width: 9rem;

        margin-top: -0.25em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: capitalize;

        transition: all 0.35s ease-in-out;

        @media (max-width: @smallDesktopLimitWidth) {
            max-width: 7rem;
        }

        &--open {
            bottom: -100px;
        }
    }
}
