@import (reference) '../../../styling-variabler.less';
@transition: 0.3s;
@XSmobil: 374px;

.utloggingsvarsel {
    .ReactModal__Overlay.ReactModal__Overlay--after-open.modal__overlay {
        background-color: rgba(61, 56, 49, 0);
        transition: @transition background-color;
        padding: 1rem;
        height: 100%;
        width: 100%;
        bottom: 0;
        pointer-events: none;
    }

    &__modal {
        visibility: visible;
        max-height: 1px;
        min-height: 1px;
        width: 1px;
        padding: 0;
        transition: @transition, max-height 0.14s, width 0.22s;
        position: absolute;
        bottom: 9rem;
        left: 12rem;

        &:focus {
            box-shadow: none;
        }
    }

    &__main-wrapper {
        overflow: hidden;
        width: 10rem;
        max-height: 0;
        visibility: hidden;
        transition: visibility 0.3s, height 0.15s, visibility @transition, width 0.15s, max-height @transition;
    }
    &__container {
        overflow: hidden;
        max-height: 1px;
        transition: max-height 0.11s;
    }
    &__tekst-innhold {
        overflow: hidden;
        max-height: 3.56rem;
        transition: 15ms !important;
    }
    &__timer {
        justify-content: center;
        & > svg {
            margin-right: 0.25rem;
            margin-bottom: 0.125rem;
        }
        &--main {
            padding: 0;
            margin: 0;
            transform: translateY(-100px) scale(0.1);
            transition: 0.1s;
        }
    }
    &__navigasjon,
    &__valg,
    &__tekst-innhold {
        margin: 0;
        opacity: 0;
        transform: scale(0.1);
        transition: 0.1s;

        & ~ .typo-sidetittel {
            font-size: 0.2rem;
            line-height: 0.4rem;
        }
        & ~ .typo-innholdstittel {
            font-size: 0.2rem;
            line-height: 0.3rem;
        }
        & ~ .typo-systemtittel {
            font-size: 0.2rem;
            line-height: 0.2rem;
            margin: 0.5rem 0;
        }
        & ~ .typo-undertittel {
            font-size: 0.1rem;
            line-height: 0.1rem;
        }
        & ~ .typo-element {
            font-size: 0.1rem;
            line-height: 0.1rem;
        }
        & ~ .typo-normal {
            font-size: 0.1rem;
            line-height: 0.1rem;
        }
    }
    &__modal--ikon {
        transform: translateY(3.5rem) scale(0.3);
        opacity: 0;
        transition: @transition;
    }
    @media (max-width: @XSmobil) {
        &__modal {
            left: 10rem;
            bottom: 9rem;
        }
    }
    @media (min-width: @desktopMinWidth) {
        &__modal {
            bottom: 8rem;
        }
    }

    &.OPEN {
        .ReactModal__Overlay.ReactModal__Overlay--after-open.modal__overlay {
            background-color: rgba(61, 56, 49, 0.7);
            pointer-events: none;
            padding: 1rem;
            height: 100%;
            width: 100%;
            bottom: 0;
        }

        .liteExpanderbartvindu {
            &:before,
            &:after {
                box-shadow: none;
            }
            &__wrapper {
                opacity: 0;
                transform: translateY(100px);
                transition: 0.4s;
            }
        }
        .utloggingsvarsel {
            &__modal {
                pointer-events: initial;
                position: absolute;
                visibility: visible;
                overflow: unset;
                width: 23.4375rem;
                max-height: 100%;
                padding: 1rem;
                min-width: 20rem;
                transform: translateY(0) scale(1);
                transition: 0.6s;
                bottom: calc(50% - 12.3125rem);
                left: calc(50% - 11.71875rem);
                // 11.3125
                &:focus {
                    box-shadow: 0 0 0 3px @navds-semantic-color-focus;
                }
            }
            &__container {
                overflow: hidden;
                max-height: 100%;
                transition: 0.14s;
            }

            &__modal--ikon {
                transform: translateY(0);
                opacity: 1;
                transition: @transition;
            }
            &__valg {
                margin: 1.25rem 0;
            }

            &__navigasjon,
            &__valg,
            &__modal--ikon,
            &__tekst-innhold {
                opacity: 1;
                transform: translateY(0) scale(1);
                transition: @transition, 0.45s opacity;

                & > .typo-sidetittel {
                    margin: 0.75rem 0;
                    font-size: 2.5rem;
                    line-height: 2.75rem;
                }
                & > .typo-innholdstittel {
                    margin: 0.75rem 0;
                    font-size: 2rem;
                    line-height: 2.25rem;
                }
                & > .typo-systemtittel {
                    margin: 0.75rem 0;
                    font-size: 1.5rem;
                    line-height: 1.75rem;
                }
                & > .typo-undertittel {
                    margin: 0.75rem 0;
                    font-size: 1.25rem;
                    line-height: 1.5625rem;
                }
                & > .typo-element {
                    margin: 0.75rem 0;
                    font-size: 1rem;
                    line-height: 1.375rem;
                }
                & > .typo-normal {
                    margin: 0.75rem 0;
                    font-size: 1rem;
                    line-height: 1.375rem;
                }
            }
            &__tekst-innhold {
                overflow: hidden;
                max-height: 9.5rem;
            }

            &__timer {
                justify-content: flex-start;
                align-items: center;
                & > svg {
                    margin-right: 0.5rem;
                    margin-bottom: 0.125rem;
                }
                &--main {
                    display: flex;
                    align-items: center;
                    opacity: 1;
                    transform: translateY(0) scale(1);
                    transition: 0.4s;
                }
            }

            &__main-wrapper {
                width: 100%;
                display: block;
                visibility: visible;
                max-height: 100%;
                overflow: hidden;
                transition: @transition;
            }

            @media (max-width: @XSmobil) {
                &__modal {
                    width: 20rem;
                    left: calc(50% - 10rem);
                }
            }

            @media (min-width: @desktopMinWidth) {
                &__tekst-innhold {
                    max-height: 6.75rem;
                }
                &__modal {
                    width: 100%;
                    left: calc(50% - 17.5rem);
                    bottom: calc(50% - 9.4375rem);
                    min-width: 35rem;
                    padding: 1rem 3rem;
                }
            }
        }
    }
}
