@import (reference) 'src/styling-variabler.less';

.mobilmeny {
    @transition-duration: 0.4s;

    &__startmeny,
    &__undermeny-innhold {
        position: absolute;
        visibility: visible;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 0.75rem @margins-sides-mobil 1rem @margins-sides-mobil;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        &--hidden {
            visibility: hidden;
        }
    }

    &__startmeny {
        display: flex;
        flex-direction: column;

        z-index: 1003;
        transition: all @transition-duration ease-in-out;

        &--hidden {
            left: -100%;
        }
    }

    &__undermeny-innhold {
        display: flex;
        flex-direction: column;

        z-index: 1002;
        transition-property: visibility;
        transition-delay: 0s;

        &--hidden {
            transition-delay: @transition-duration;
        }
    }
}
