@import (reference) '../../../styling-variabler.less';
@import 'desktop/DesktopHeader';
@import 'mobil/MobilHeader';

.header-linje {
    border-bottom: 2px solid @header-separator-farge;

    &__elementer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 100%;
    }

    &__spacer {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .ekspanderbar__container {
        order: 10;
        width: 100%;
    }

    @media (min-width: @desktopMinWidth) {
        .desktop-header();
    }

    @media (max-width: @mobilMaxWidth) {
        .mobil-header();
    }
}
