@import (reference) '../../../styling-variabler.less';

.header-linje {
    border-bottom: 2px solid @header-separator-farge;

    &__elementer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .nav-logo-lenke,
    .desktop-hovedmeny__knapp,
    .desktop-sok-dropdown__knapp {
        order: 1;
    }

    &__spacer {
        order: 2;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .varselbjelle__knapp,
    .desktop-minside-meny__knapp,
    .login-knapp-container,
    .mobilmeny__knapp {
        order: 3;
    }

    .ekspanderbar__container {
        order: 4;
    }

    @media (min-width: @desktopMinWidth) {
        .mobilmeny__knapp {
            display: none;
        }
    }

    @media (max-width: @mobilMaxWidth) {
        .ekspanderbar__container:not(.mobilmeny),
        .desktop-hovedmeny__knapp,
        .desktop-sok-dropdown__knapp,
        .desktop-minside-meny__knapp {
            display: none;
        }
    }
}
