@import (reference) '../../../../../styling-variabler.less';

.desktop-minside-meny {
    &__knapp-tekst {
        text-align: left;
    }

    &__knapp-tekst-topp {
        font-weight: bold;
    }

    &__knapp-tekst-bunn {
        margin-top: -0.25em;
        overflow-x: hidden;
        white-space: nowrap;
    }
}
