@import '~nav-frontend-core/less/_variabler';

.hovedmeny .navbar-brand {
    padding-right: 0.25rem;

    &:focus,
    &:active {
        background-color: initial;
        border: @navDypBla 3px solid;
    }
    .hovedmeny__logo {

    }
}
