@import '~nav-frontend-core/less/_variabler';

.navbar-brand {
    padding-right: 0.25rem;

    &:focus,
    &:active {
        background-color: white;
        border: @navDypBla 3px solid;
    }
    .hovedmeny__logo {
        margin-right: 0.5rem;
    }
}
