
.desktopmeny__bakgrunn {
    @top-margin: 205px;     // TODO: ikke hardkode denne
    z-index: 999;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: calc(100% - @top-margin);
    left: 0;
    top: @top-margin;
    transition-duration: 0.35s;
    transition-timing-function: ease-in;
    transition-property: all;

    &--active {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(2px);
    }
}

.mobilmeny {
    &__bakgrunn {
        display: none;
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);

        &--active {
            display: initial;
        }
    }
}
