.mobilMenyLenke {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    margin: 0 -1rem;

    font-size: var(--a-font-size-heading-small);
    font-weight: var(--a-font-weight-bold);

    & > svg {
        margin-left: auto;
    }

    &:hover {
        text-decoration: underline;
    }
}
