@import '~nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

.simple-header {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid @header-separator-farge;
    display: flex;
    justify-content: center;

    &__right {
        display: flex;
        align-items: center;
        & > :first-child {
            margin: 0 1rem;
            @media (max-width: @screen-sm) {
                display: none;
            }
        }
    }
    &__content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: @smallDesktopLimitWidth) {
            padding: 0 3rem;
        }
        @media (max-width: @smallDesktopLimitWidth) {
            padding: 0 1rem;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 78px;
        height: 78px;

        @media (max-width: @tabletLimitWidth) {
            width: 66px;
            height: 66px;
        }
    }

    &__logo svg {
        @media (min-width: @tabletLimitWidth) {
            width: 72px;
            height: 72px;

            &:hover {
                width: 78px;
                height: 78px;
            }
        }
        @media (max-width: @tabletLimitWidth) {
            width: 62px;
            height: 62px;

            @media (max-width: @tabletLimitWidth) {
                width: 66px;
                height: 66px;
            }
        }
    }
}
