@import (reference) '../../../../../styling-variabler.less';

.arbeidsflate {
    width: 100%;
}

.arbeidsflatevalg {
    display: flex;
    justify-content: space-between;
    margin: 0;

    li {
        margin-bottom: 0;
    }

    .arbeidsflate-lenkepanel {
        border-color: @navds-global-color-white;
        background-color: @navds-global-color-deepblue-600;
        border-radius: 8px;

        .lenkepanel__heading {
            margin-bottom: 0.5rem;
        }

        .lenkepanel__indikator,
        .lenkepanel__heading,
        .arbeidsflate-lenkepanel__stikkord {
            color: @navds-global-color-white;
        }

        &__innhold {
            min-height: 74px;
        }

        &:hover {
            border-color: @navds-global-color-white;
            background-color: transparent;

            .lenkepanel__indikator,
            .lenkepanel__heading,
            .arbeidsflate-lenkepanel__stikkord {
                color: @navds-global-color-white;
            }
        }

        &:focus {
            border-color: @navds-global-color-white;
            background-color: @navds-global-color-white;

            .lenkepanel__indikator,
            .lenkepanel__heading,
            .arbeidsflate-lenkepanel__stikkord {
                color: @navds-global-color-blue-500;
            }
        }
    }

    @media @screen-desktop {
        li {
            width: 48%;
        }
    }

    @media @screen-desktop-medium-up {
        flex-direction: column;

        li {
            margin-bottom: 1rem;
            width: auto;
        }
    }

    @media @screen-desktop-large-up {
        justify-content: left;
    }
}
