@import (reference) '../../../../../styling-variabler.less';

.arbeidsflatevalg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    li {
        flex-grow: 1;
        margin-bottom: 0;
        max-width: 30rem;
    }

    @media @screen-desktop-small-width-down {
        li {
            &:first-child {
                margin-right: 2rem;
            }
        }
    }

    @media @screen-desktop-medium-up {
        flex-direction: column;
        padding-left: 1rem;
        li {
            margin-bottom: 1rem;
        }
    }

    .arbeidsflate-lenkepanel {
        border-color: @white;
        background-color: @navBlaDarken40;
        border-radius: 8px;

        .lenkepanel__heading {
            margin-bottom: 0.5rem;
        }

        .lenkepanel__indikator,
        .lenkepanel__heading,
        .arbeidsflate-lenkepanel__stikkord {
            color: @white;
        }

        &__innhold {
            min-height: 74px;
        }

        &:hover {
            border-color: @white;
            background-color: transparent;

            .lenkepanel__indikator,
            .lenkepanel__heading,
            .arbeidsflate-lenkepanel__stikkord {
                color: @white;
            }
        }

        &:focus {
            border-color: @white;
            background-color: @white;

            .lenkepanel__indikator,
            .lenkepanel__heading,
            .arbeidsflate-lenkepanel__stikkord {
                color: @navBla;
            }
        }
    }
}
