@import (reference) '../../../../../styling-variabler.less';

.arbeidsflate {
    width: 100%;
}

.arbeidsflatevalg-innhold {
    margin-bottom: 0;

    .arbeidsflatevalg {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;

        li {
            width: auto;
            margin-bottom: 0;
        }
    }

    .lenkepanel {
        background-color: @navBlaDarken40;
        color: white;
        border: 1px solid white;
        border-radius: 8px;
        text-decoration: none;

        &:hover:not(:focus) .lenkepanel__heading,
        &--hover:not(:focus) .lenkepanel__heading {
            color: white;
        }

        &__heading {
            min-height: 101px;
        }

        .typo-undertittel {
            margin-bottom: 0.6rem;
        }
    }

    .lenkepanel:focus {
        color: @navBla;
        background-color: white;
    }

    @media (min-width: @desktopMinWidth) {
        .arbeidsflatevalg {
            flex-direction: row;
            justify-content: space-between;
            margin: 0;

            li {
                width: 48%;
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: @smallDesktopLimitWidth) {
        .arbeidsflatevalg {
            flex-direction: column;

            li {
                width: auto;
            }
        }
    }

    @media (min-width: 1300px) {
        margin-bottom: 0;

        .arbeidsflatevalg {
            flex-direction: column;
            justify-content: left;

            li {
                width: auto;
            }
        }
    }
}
