@import '../../../../../../../styling-variabler.less';

.desktop-hovedmeny {
    &__topp-seksjon {
        display: flex;
        flex-direction: column;

        margin: 0 -@padding-horizontal 1.5rem -@padding-horizontal;
        padding: 0 @padding-horizontal;

        @media (max-height: @desktopLowHeightLimit),
            (max-width: @smallDesktopLimitWidth) {
            flex-direction: row;
            align-items: flex-end;
            margin-bottom: 0.75rem;

            &-tittel {
                &::after {
                    content: '•';
                    margin: 0 0.5rem;
                }
            }
        }
    }

    &__topp-seksjon-lenke {
        .lenke-stil();
    }
}
