@import '../../../../../../../styling-variabler.less';

.desktop-hovedmeny {
    &__topp-seksjon {
        display: flex;
        flex-direction: column;

        margin: 1.5rem -@padding-horizontal;
        padding: 1rem @padding-horizontal;

        @media (max-height: @desktopLowHeightLimit),
            (max-width: @smallDesktopLimitWidth) {
            flex-direction: row;
            align-items: flex-end;
            margin: 0 -@padding-horizontal;
            padding-top: 0.5rem;

            &-tittel {
                &::after {
                    content: '-';
                    margin: 0 0.5rem;
                }
            }
        }
    }

    &__topp-seksjon-lenke {
        .lenke-stil();
    }

    &__topp-seksjon-tittel {
        margin-top: 0.15em;
    }
}
