@import '../../../../../../../styling-variabler.less';

.desktop-hovedmeny {
    &__topp-seksjon {
        margin: 1.5rem -3rem;
        padding: 1rem 3rem;
    }

    &__topp-seksjon-lenke {
        .lenke-stil();
    }

    &__topp-seksjon-tittel {
        margin-top: 0.15em;
    }
}
