.lukk-container {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;

    &:focus {
        outline: 2px solid white;
    }

    &__venstreside,
    &__hoyreside {
        width: 1.875rem;
        height: 2px;
        margin-top: 1.25rem;
        position: absolute;
        background-color: white;
        border-radius: 2px;
        transition: all 0.3s ease-in;
        margin-left: 0.3rem;
    }

    &__venstreside {
        transform: rotate(45deg);
        &--flip {
            transform: rotate(-45deg);
        }
    }
    &__hoyreside {
        transform: rotate(-45deg);
        &--flip {
            transform: rotate(45deg);
        }
    }

    .close {
        color: white;
        font-size: 0.85rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.3s ease-in;
        margin: 2.625rem 0 0 0;
        position: absolute;
    }
}
