@import (reference) '../../../styling-variabler.less';

.chatbot-dock {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.chatbot-container {
    position: fixed;
    z-index: 1001;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(@desktopMaxWidth - @margins-sides-desktop * 2);
    height: 68px;
    bottom: 2rem;

    @media @screen-desktop-medium-down {
        width: calc(100% - @margins-sides-desktop-footer * 2);
    }

    @media @screen-desktop-small-width-down {
        width: calc(100% - @margins-sides-desktop-small * 2);
    }

    @media @screen-mobile {
        width: calc(100% - @margins-sides-mobil * 2);
        bottom: 1rem;
    }

    &__docked {
        position: relative;
        width: 100%;
        bottom: 0;
    }

    &__menu-active {
        z-index: 998;
    }
}
