@import (reference) '../../../styling-variabler.less';

.chatbot-dock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 68px;
}

.chatbot-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1001;

    @media (max-width: @mobilMaxWidth) {
        bottom: 20px;
        right: 20px;
        z-index: 9999;
    }

    @media (min-width: @desktopMinWidth) {
        &__menu-active {
            z-index: 998;
        }
    }
}
