.lukk-container {
    position: relative;
    width: 2.5rem;
    height: 4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;

    &:focus {
        outline: 2px solid white;
    }

    &__venstreside,
    &__hoyreside {
        width: 1.875rem;
        height: 2px;
        margin-top: 1.25rem;
        position: absolute;
        background-color: white;
        border-radius: 2px;
        transition: all 0.3s ease-in;
        margin-left: 0.3rem;
    }

    &__venstreside {
        transform: rotate(45deg);
        &--flip {
            transform: rotate(-45deg);
        }
    }
    &__hoyreside {
        transform: rotate(-45deg);
        &--flip {
            transform: rotate(45deg);
        }
    }

    .close {
        position: absolute;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        width: 100%;
        margin: 2.625rem 0 0 0;
        color: white;
    }
}
