@import (reference) '../../../../styling-variabler.less';

.alternativ-wrapper {
    display: flex;
    flex-direction: column;

    .alternativ-overskrift {
        margin-bottom: 1em;
    }

    .alternativ-notis {
        margin: 1em 0 2em;
    }

    .knapper {
        display: flex;
        margin-top: 1.5rem;
        flex-wrap: wrap;

        @media @screen-mobile {
            justify-content: center;
        }

        .knapp--flat {
            min-height: 2.5rem;
        }

        .send-inn {
            margin-right: 0.25em;
            transform: none;
            box-shadow: none;

            @media @screen-mobile {
                margin-bottom: 0.5rem;
            }
        }
    }
}
