.advarsel {
    margin-top: .5em;
    padding-bottom: 0.5em;
}

.personvernAdvarsel {
    padding: 0.5em 0 0.2em 0;
}

.textarea__container {
    label {
        margin-bottom: 1em;
    }

    .skjemaelement__description {
        margin-bottom: 1rem;
    }
}
