@import (reference) '../../../../../styling-variabler.less';

.siteheader .arbeidsflate {
    @separator-height: 1px;

    width: 100%;
    background-color: white;
    height: 100%;
    margin-left: 4rem;

    &__topp-liste-rad {
        white-space: nowrap;
        margin: 0 auto;
    }

    ul,
    li {
        height: 100%;
    }

    &__liste-element {
        display: inline-block;
        outline: 0;
    }

    &__lenke {
        height: calc(100% + @separator-height);
        display: inline-block;
        text-decoration: none;
        color: @navds-semantic-color-text-muted;

        &:focus,
        &:active {
            background-color: transparent;
            outline: 3px solid @navds-semantic-color-focus;
            outline-offset: -3px;
            box-shadow: 0 0 0 0;
        }
    }

    &__lenke-inner {
        height: 100%;
        display: flex;
        margin: 0 1rem;
        align-items: center;
        border-bottom: transparent 3px solid;

        &:hover {
            border-bottom: @navds-global-color-blue-500 3px solid;
        }

        &--active {
            border-bottom: @navds-global-color-blue-500 3px solid;
            p {
                color: @navds-semantic-color-text;

                font-weight: bold;
            }
            &:hover {
                border-bottom: @navds-global-color-blue-500 3px solid;
            }
        }
    }
}
