@use 'src/styling-variabler.scss' as sv;

$underline-height: 4px;

:global(.arbeidsflate) {
    width: 100%;
    height: calc(100% - #{sv.$header-separator-height});
    margin-left: 2.5rem;
    align-self: flex-start;

    ul,
    li {
        height: 100%;
    }
}

.toppListeRad {
    white-space: nowrap;
    margin: 0 auto;
}
.listeElement {
    display: inline-block;
    outline: 0;
}

.lenke {
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--a-gray-700); //TODO: Sett til --a-text-subtle når aksel har oppdatert denne til WCAG AAA-krav

    &:focus,
    &:active {
        outline: #{$underline-height} solid var(--a-border-focus);
        outline-offset: -#{$underline-height};
        box-shadow: 0 0 0 0;
    }

    &:hover {
        box-shadow: inset 0 -#{$underline-height} 0 0 var(--a-gray-300);
    }
}
.lenkeActive {
    box-shadow: inset 0 -#{$underline-height} 0 0 var(--a-blue-400);
    color: var(--a-text-default);

    span {
        font-weight: bold;
    }

    &:hover {
        box-shadow: inset 0 -#{$underline-height} 0 0 var(--a-blue-400);
    }
}

.lenkeInner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 0.75rem;

    &::after {
        content: attr(data-text) / '';
        height: 0;
        visibility: hidden;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        font-weight: bold;

        @media speech {
            display: none;
        }
    }
}
