@import (reference) '../../../../../styling-variabler.less';

.siteheader .arbeidsflate {
    @separator-height: 0px;
    @underline-height: 4px;

    width: 100%;
    height: calc(100% - @header-separator-height);
    margin-left: 2.5rem;
    align-self: flex-start;

    &__topp-liste-rad {
        white-space: nowrap;
        margin: 0;
    }

    ul,
    li {
        height: 100%;

        //Hardkoder bredden for Privat Arbeidsgiver Samarbeidspartner i bold.
        //Hindrer at teksten flytter seg noen piksler når man bytter fane.
        &:nth-child(1) {
            width: 69.96px;
            > * {
                width: 69.96px;
            }
        }
        &:nth-child(2) {
            width: 121.37px;
            > * {
                width: 121.37px;
            }
        }
        &:nth-child(3) {
            width: 174.52px;
            > * {
                width: 174.52px;
            }
        }
    }

    &__liste-element {
        display: inline-block;
        outline: 0;
    }

    &__lenke {
        height: calc(100% + @separator-height);
        display: inline-block;
        text-decoration: none;
        color: @navds-semantic-color-text-muted;

        &:focus,
        &:active {
            outline: @underline-height solid @navds-semantic-color-focus;
            outline-offset: -@underline-height;
            box-shadow: 0 0 0 0;
        }

        &:hover {
            box-shadow: inset 0 -@underline-height 0 0 @navds-global-color-gray-300;
        }

        &--active {
            box-shadow: inset 0 -@underline-height 0 0 @navds-global-color-blue-400;

            p {
                color: @navds-semantic-color-text;

                font-weight: bold;
            }
            &:hover {
                box-shadow: inset 0 -@underline-height 0 0 @navds-global-color-blue-400;
            }
        }
    }

    &__lenke-inner {
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0.75rem;
        align-items: center;
    }
}
