@import (reference) '../../../../../../styling-variabler.less';

.meny {
  @side-margin: 1.5em;

  .lenke-stil() {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .col-setup(@cols) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(percentage(1 / (@cols + 1)) + 1px);
    max-width: calc(percentage(1 / @cols) - (@side-margin - @side-margin / @cols));
    --num-cols: @cols;

    &:not(:nth-child(@{cols}n)) {
      margin-right: @side-margin;
    }
  }

  &__meny-uinnlogget {
    display: flex;
    flex-direction: column;
  }

  &__topp-seksjon {
    margin: 1.5rem -3rem;
    padding: 1rem 3rem;
    //background-color: rgba(200, 200, 200, 0.4);
  }

  &__topp-seksjon-lenke {
    .lenke-stil();
  }

  &__topp-seksjon-tittel {
    margin-top: 0.15em;
  }

  &__hoved-seksjon {
    display: flex;
    flex-grow: 6;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__hoved-seksjon-tema {
    margin-bottom: 2rem;
    @midLimitWidth: (@desktopLimitWidth + @tabletLimitWidth) / 2;

    @media (max-width: @midLimitWidth) {
      .col-setup(3);
    }
    @media (min-width: @midLimitWidth) {
      .col-setup(4);
    }
    @media (min-width: @desktopLimitWidth) {
      .col-setup(4);
    }
  }

  &__hoved-seksjon-tema-tittel {
    margin-bottom: 0.5em;
  }

  &__hoved-seksjon-tema-lenker {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.5rem;

      .lenke {
        .lenke-stil();
      }
    }
  }

  &__bunn-separator {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid @navGra60;
  }

  &__bunn-seksjon {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  &__bunn-seksjon-col {
    .col-setup(3);
  }

  &__bunn-lenke {
    .lenke-stil();
  }

  &__bunn-lenke-stikkord {
    display: inline-block;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:not(:first-of-type) {
        .bullet::before {
          content: '•';
          margin: 0 0.25em;
        }
      }
    }
  }

  // this media query can only be read by ie-explorer. ie grid fix
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    &__hovedSeksjon {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr;
    }

    &__seksjon {
      &:nth-child(2) {
        -ms-grid-column: 2;
      }

      &:nth-child(3) {
        -ms-grid-column: 3;
      }

      &:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }

      &:nth-child(5) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }

      &:nth-child(6) {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }

      &:nth-child(7) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
      }

      &:nth-child(8) {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
      }

      &:nth-child(9) {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
      }

      &:nth-child(10) {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
      }

      &:nth-child(11) {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
      }

      &:nth-child(12) {
        -ms-grid-column: 3;
        -ms-grid-row: 4;
      }
    }
  }
}
