@import '../../../../styling-variabler.less';

.desktopmeny {
    @margin-mellom: 2rem;
    @margin-mellom-sm: 0.5rem;
    @maxheight-menuitem: 48px;

    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 2px solid @header-separator-farge;

    @media (max-height: @desktopLowHeightLimit),
        (max-width: @smallDesktopLimitWidth) {
        padding: 0;
    }

    .margin-left-section() {
        margin-left: @margin-mellom;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-left: @margin-mellom-sm;
        }
    }

    .margin-right-section() {
        margin-right: @margin-mellom;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-right: @margin-mellom-sm;
        }
    }

    &__elementer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        margin: 0 auto;

        @media (min-width: @desktopLimitWidth) {
            width: @desktopLimitWidth;
        }
    }

    &__nav-brand {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 88px;
        height: 88px;

        svg {
            width: 84px;
            height: 84px;
        }

        svg:hover {
            width: 88px;
            height: 88px;
        }

        margin-left: @margins-sides-desktop;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-left: @margins-sides-desktop-small;
        }

        .knapp-focus();
    }

    .desktop-hovedmeny__knapp {
        order: 2;
        .margin-left-section();
    }

    .desktop-sok-dropdown__knapp {
        order: 3;
        max-height: @maxheight-menuitem;
        .margin-left-section();
    }

    &__spacer {
        order: 4;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .varselbjelle__knapp {
        order: 5;
        .margin-right-section();
        max-height: @maxheight-menuitem;
    }

    .desktop-minside-meny__knapp {
        order: 6;
        .margin-right-section();
        max-height: @maxheight-menuitem;
    }

    .login-knapp-container {
        order: 7;
        max-height: @maxheight-menuitem;
        margin-right: @margins-sides-desktop;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-right: @margins-sides-desktop-small;
        }
    }

    .ekspanderbar__container {
        order: 8;
        width: 100%;
    }
}
