@use 'src/styling-variabler' as sv;

@mixin desktopHeader {
    $margin-mellom: 0.75rem;
    $margin-mellom-sm: 0.5rem;

    height: sv.$header-height-desktop;

    :global(.elementer) {
        max-width: sv.$desktopMaxWidth;
    }

    :global(.navLogoLenke) {
        $padding: 8px;
        height: 49px + ($padding * 2);
        padding: $padding;

        margin-left: calc(#{sv.$margins-sides-desktop} - #{$padding});
        margin-right: -$padding;

        @media #{sv.$screen-desktop-small-width-down} {
            margin-left: calc(#{sv.$margins-sides-desktop-small} - #{$padding});
        }
    }
}
