@import (reference) '../../../../styling-variabler.less';

.desktop-header() {
    @margin-mellom: 0.75rem;
    @margin-mellom-sm: 0.5rem;

    height: @header-height-desktop;

    &__elementer {
        max-width: @desktopMaxWidth;
    }

    .navLogoLenke {
        @padding: 8px;
        height: 49px + (@padding * 2);
        padding: @padding;

        margin-left: calc(@margins-sides-desktop - @padding);
        margin-right: -@padding;

        @media @screen-desktop-small-width-down {
            margin-left: calc(@margins-sides-desktop-small - @padding);
        }
    }
}
