@import (reference) '../../../../styling-variabler';

.del-skjerm-lenke {
    .lenke-med-ikon:focus {
        .lenke-med-ikon__ikon {
            svg {
                stroke: @navds-global-color-blue-500;
                color: @navds-global-color-blue-500;
            }
        }
    }

    .lenke-med-ikon__ikon {
        svg {
            stroke: white;
            color: white;
        }
    }
}
