@import '~nav-frontend-core/less/_variabler';

.varsel-meny-ikon {
    &__container {
        border: none;
        display: inline-block;
        position: relative;
        background-color: white;
    }

    &__bjelle {
    }

    &__tekst {
        display: inline-block;
        color: @navBla;
        & > * {
            margin-left: 1rem;
        }
    }
}
