@import (reference) '../../../../../styling-variabler.less';

.desktop-dropdown {
    &__innhold-wrapper {
        position: absolute;
        z-index: 1;
        overflow: hidden;
        max-height: 0;
        max-width: @desktopLimitWidth / 3;
        visibility: hidden;
        background-color: white;
        border-bottom-left-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;

        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
        transition-property: max-height, max-width, visibility;

        &--aktive {
            max-height: 60rem;
            max-width: 100%;
            visibility: visible;
            transition-duration: 0.7s;
            z-index: 1001;
        }
    }

    &__innhold {
        box-sizing: border-box;
        padding: 0 @padding-sides 2rem @padding-sides;
        overflow: hidden;
        min-width: @tabletLimitWidth;
        @media (min-width: @desktopLimitWidth) {
            width: @desktopLimitWidth;
        }
    }
}
