@import (reference) '../../../../../styling-variabler.less';

@ekspanderbar-transition-props: max-height, visibility;

.ekspanderbar {
    @media (min-width: @tabletLimitWidth) {
        &__innhold-wrapper {
            position: absolute;
            z-index: 1;
            overflow: hidden;
            max-height: 0;
            max-width: 100%;
            visibility: hidden;
            background-color: white;
            border-bottom-left-radius: @border-radius-base;
            border-bottom-right-radius: @border-radius-base;

            transition-duration: 0.4s;
            transition-timing-function: ease-in;
            transition-property: @ekspanderbar-transition-props;

            &--aktive {
                max-height: 60rem;
                max-width: 100%;
                visibility: visible;
                z-index: 1001;
                transition-duration: 0.6s;
                transition-timing-function: ease-in-out;
                transition-property: @ekspanderbar-transition-props;
            }
        }

        &__innhold {
            box-sizing: border-box;
            padding: 0 @margins-sides-desktop 2rem @margins-sides-desktop;
            overflow: hidden;
            width: 100vw;
            @media (min-width: @desktopLimitWidth) {
                width: @desktopLimitWidth;
            }
        }

        &__container {
            position: relative;
        }
    }
}
