@import (reference) '../../../../../styling-variabler.less';

.menylinje-knapp {
    .menylinje-knapp-mixin();
}

.menylinje-knapp-mixin() {
    &:hover {
        box-shadow: inset 0 0 0 2px @navds-semantic-color-interaction-primary;
    }

    .navds-button__inner {
        position: relative;
        font-weight: 600;
        white-space: nowrap;

        @media @screen-mobile {
            flex-direction: column;
            gap: 0;
        }
    }
}
