@import (reference) '../../../../../styling-variabler.less';

@height: 3rem;
@padding-y: 0.25rem;
@padding-x: 0.75rem;

.menylinje-knapp {
    background-color: white;
    border: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: 2px;

    height: 2.8125rem;
    display: flex;
    align-items: center;
    color: @navBla;
    padding: @padding-y @padding-x;

    .header-knapp-focus-mixin();

    @media @screen-mobile-small-down {
        padding: 0.25rem;
    }

    &:hover {
        outline: 1px black solid;
        cursor: pointer;
    }

    &__tekst {
        .typo-undertittel;
    }
}
