@import (reference) '../../styling-variabler.less';

.decorator {
    &-utils {
        &-container {
            display: flex;
            align-items: center;
            justify-items: center;

            &--white {
                background: @navds-semantic-color-canvas-background-light;
            }
            &--gray {
                background: @navGraBakgrunn;
            }
        }
        &-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1344px;
            min-height: 64px;
            margin: 0 auto;
            width: 100%;
            padding: 0.75rem 1rem;

            @media @screen-mobile {
                flex-wrap: wrap;
            }
            @media @screen-desktop-medium-up {
                padding: 0.75rem 3rem;
            }
            @media @screen-desktop-large-up {
                padding: 0.75rem 0;
            }
        }
    }
}
