@import '~nav-frontend-core/less/_variabler';
@import '../../styling-variabler.less';

.simple-header {
    background-color: white;
    width: 100%;
    padding: 0.5rem 0 1rem;
    border-bottom: 2px solid #0067c5;
    display: flex;
    justify-content: center;

    &__content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: @smallDesktopLimitWidth) {
            margin: 0 3rem;
        }
        @media (max-width: @smallDesktopLimitWidth) {
            margin: 0 1rem;
        }
    }

    &__logo svg {
        @media (min-width: @tabletLimitWidth) {
            height: 88px;
            width: 88px;
        }
        @media (max-width: @tabletLimitWidth) {
            height: 66px;
            width: 66px;
        }
    }
}
