@import (reference) '../../styling-variabler.less';

.decorator {
    &-utils {
        &-container {
            display: flex;
            align-items: center;
            justify-items: center;
        }
        &-content {
            width: 100%;
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            justify-content: space-between;
            max-width: 1344px;
            padding: 0.5rem 1rem;

            @media @screen-desktop-medium-up {
                padding: 0.5rem 2rem;
            }
            @media @screen-desktop-large-up {
                padding: 0.5rem 0;
            }
        }
        &-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-height: 72px;
            padding: 0.5rem 1rem;

            @media (max-width: @screen-sm) {
                flex-wrap: wrap;
            }
        }
        &-footer {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}
