@import (reference) '../../../../../styling-variabler.less';

.browser-utdatert {
    &__wrapper {
        background-color: @navds-global-color-orange-100;
        border-bottom: @header-separator-farge 2px solid;
    }

    &__innhold {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem @margins-sides-desktop;
        margin: 0 auto;
        max-width: @desktopMaxWidth;

        @media @screen-desktop-small-width-down {
            padding: 0.5rem @margins-sides-desktop-small;
            justify-content: flex-start;
        }
    }

    &__tekst {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1rem;
    }

    &__varsel-ikon {
        margin-right: 1rem;
        border-radius: 50%;
        border: 2px black solid;

        img {
            width: 32px;
            height: 32px;
        }
    }
}
