@import '~nav-frontend-core/less/_variabler';
@import '../../../../../../styling-variabler.less';

.mobilmeny {
    &__innhold-wrapper,
    &__startmeny,
    &__varsel-innhold {
        overflow-y: scroll;
        position: fixed;
        top: 7.875rem;
        left: -(@mobilemenuwidth);
        z-index: 1001;
    }

    &__undermeny-innhold,
    &__varsel-innhold {
        overflow-y: scroll;
        top: 7.875rem;
        left: -(@mobilemenuwidth);
        width: @mobilemenuwidth;
        position: fixed;

        &--active {
            left: 0;
        }
    }

    &__innhold-wrapper,
    &__startmeny,
    &__undermeny-innhold,
    &__varsel-innhold {
        padding: 0.75rem 1rem 1rem 1rem;
        background-color: white;
        width: @mobilemenuwidth;
        max-width: 575px;
        height: calc(100% - 7.875rem);
        border-radius: 3px;
        overflow: scroll;
        transition: all 0.4s ease-in-out;

        &--aktive {
            left: 0;
        }
    }

    &__startmeny {
        z-index: 1003;
    }

    &__undermeny-innhold,
    &__varsel-innhold {
        z-index: 1002;
        .mobilmeny {
            &__meny {
                &--top {
                    padding-bottom: 0.75rem;
                }

                &--list {
                    padding: 1.25rem 1rem 1.5rem 0;
                    margin-top: 0;
                    max-width: 20rem;
                }
            }
        }
    }

    &__undermeny-arbeidsflate {
        padding: 0.25rem 0 0.75rem 0;
    }

    &__undermeny-innhold {
        padding-left: 1.5rem;
    }

    &__meny {
        &--list ul {
            margin: 0;
        }

        &--mainlist {
            border-bottom: 1px solid black;
            padding: 0;
        }

        &--list,
        &--mainlist {
            .lenke {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &:active,
                &:focus,
                &:focus-within {
                    box-shadow: none;
                    span {
                        color: @navDypBla;
                        outline: 3px solid @fokusFarge;
                    }
                }
            }
        }

        &--listItem {
            padding-bottom: 2rem;
            padding-right: 0.5rem;
        }

        &--tilbakelenke {
            padding-bottom: 0;
        }

        &--text-element {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &--text-element-undermeny {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        &--ingress {
            display: flex;
            flex-direction: column;
            padding: 2rem 2rem 1.25rem 0;
            color: @navGra80;

            .typo-sidetittel {
                font-weight: 500;
            }
        }
    }

    &__undermeny-chevron {
        padding-right: 0.5rem;
    }

    &__lukk-undermeny {
        margin-top: 1rem;
        .lenke {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem 0;
            max-width: 20rem;
            margin-bottom: 2rem;
            i {
                margin-right: 0.5rem;
            }

            &:active {
                color: @navDypBla;
            }
        }
    }

    .min-varsel-wrapper {
        .mobilmeny {
            &__lukk-undermeny {
                .lenke {
                    padding-top: 0;
                    padding-bottom: 2rem;
                }
            }
        }
    }

    &__minside-rad {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem 0 0.5rem;

        &--sett-rad-midt {
            justify-content: flex-start;
        }
    }
}
