@import '../../../node_modules/nav-frontend-core/less/_variabler';

.sitefooter {
    padding: 2rem;
    text-align: center;
    background-color: @navMorkGra;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;

    ul {
        padding-left: 6rem;
        text-align: left;
        column-count: 3;
        color: white;
        li {
            margin-bottom: 0.5rem;
        }
        li.x {
            margin-bottom: 2.5rem;
        }
        .lenke {
            color: white;
        }
    }

    .copyright {
        font-size: 0.7rem;
        margin-top: 2rem;
    }
}
