@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../styling-variabler.less';

.footer {
    &__menylenker-seksjon {
        ul {
            &:first-child,
            &:last-child {
                margin-top: 0;
            }
        }
    }

    .sitefooter {
        padding: 1rem;
        background-color: @navLysGra;
        width: 100%;
        min-height: 12.5rem;

        .footer__innhold {
            .footer__menylenker-seksjon {
                text-align: center;

                li {
                    margin-bottom: 0.5rem;

                    .lenke {
                        color: black;
                        text-decoration: none;

                        &:focus {
                            color: white;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .footer__logo {
                text-align: center;
            }
        }
    }
}

@media (min-width: @desktopLimitWidth) {
    .footer {
        .sitefooter {
            padding: 0;

            .footer__innhold {
                display: flex;
                flex-wrap: wrap;
                width: @desktopLimitWidth;
                margin: 0 auto;

                .footer__menylenker-seksjon {
                    width: 33.33%;
                }

                .footer__logo {
                    width: 100%;
                }
            }
        }
    }
}
