@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../styling-variabler.less';

.footer {
    .sitefooter {
        padding: 1rem;
        background-color: white;
        width: 100%;
        min-height: 12.5rem;
        border-bottom: @navMorkGra 2px solid;
    }

    &__innhold {
        text-align: center;
    }

    &__menylinje-topp {
        .menylenker-seksjon {
            .typo-undertittel {
                color: @navGra40;
            }
            ul {
                &:first-child,
                &:last-child {
                    margin-top: 0;
                }
            }
            li {
                margin-bottom: 0.8rem;
            }
        }
    }

    &__menylinje-topp .menylenker-seksjon .venstre .lenke,
    &__menylinje-topp .menylenker-seksjon .midt .lenke,
    &__menylinje-bottom .lenke {
        color: @navMorkGra;
        font-weight: 600;

        &:focus {
            color: white;
        }
    }

    @media (min-width: @tabletLimitWidth) {
        .sitefooter {
            padding: 0.5rem 1rem 1.5rem;
        }
        &__innhold {
            width: auto;
            margin: 0 auto;
            text-align: initial;
        }
        &__menylinje-topp {
            display: flex;
            flex-wrap: wrap;

            .menylenker-seksjon {
                width: 25%;

                ul {
                    &:first-child,
                    &:last-child {
                        margin-top: 1rem;
                    }
                }

                .logo {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        &__menylinje-bottom {
            display: flex;

            .bottom-venstre {
                width: 75%;
                ul {
                    display: flex;
                }
                li {
                    margin-right: 2.5rem;
                }
            }
            .bottom-hoyre {
                width: 25%;
            }
        }
    }

    @media (min-width: @desktopLimitWidth) {
        &__innhold {
            width: @desktopLimitWidth;
            margin: 0 auto;
        }
    }
}
