@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../styling-variabler.less';

.footer {
    margin-top: 35vh; //TODO fjerne denne linjen når designet er klart.

    .sitefooter {
        padding: 2rem;
        background-color: @navLysGra;
        min-height: 200px;

        .footernavsection {
            .footer__seksjon {
                li {
                    margin-bottom: 0.5rem;

                    .lenke {
                        color: black;
                        text-decoration: none;

                        &:focus {
                            color: white;
                        }
                        &:hover {
                            // color: white;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: @desktopLimitWidth) {
    .footer {
        margin-top: 55vh; //TODO fjerne denne linjen når designet er klart.

        .sitefooter {
            .footernavsection {
                display: grid;
                grid-template-columns: auto auto auto auto;
                width: @desktopLimitWidth;
                margin: 0 auto;

                .footer__seksjon {
                    width: 340px;
                }
            }
        }
    }
}
