.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .login-details-name {
        padding-right: 1rem;
        padding-left: 0.5rem;
        color: black;
        text-transform: capitalize;
    }
}