@import (reference) '../../../../../styling-variabler.less';

.meny {
    &__meny-innhold-wrapper {
        position: absolute;
        z-index: 1001;
        overflow: hidden;
        margin-bottom: 0;
        max-height: 0;
        max-width: @desktopLimitWidth/3;
        background-color: white;
        visibility: hidden;
        border-bottom-left-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
        transition: all 0.7s ease-in-out;

        &--aktive {
            margin-bottom: 2rem;
            max-height: 55rem;
            max-width: @desktopLimitWidth;
            visibility: visible;
        }
    }

    &__meny-innhold {
        padding: 1rem 3rem 2rem 3rem;
        width: @desktopLimitWidth;
        overflow: hidden;
    }

    &__seksjoner {
        display: flex;
    }

    &__bakgrunn {
        visibility: hidden;
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        left: 0;
        transition: all 0.5s ease-in;

        &--active {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    &__minSideSeksjon {
        flex-grow: 1;
        margin: 0 0 0.2rem 0.5rem;
        padding: 0.75rem 0 0.5rem 1.5rem;
        min-width: 8rem;

        .lenke {
            color: black;
            text-decoration: none;

            &:focus {
                color: white;
            }

            &:active {
                font-weight: bold;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .minside-list-item {
            padding: 0.125rem 0 0.125rem 0;
            list-style: initial;
        }

        .minside-dittnav-lenke {
            margin-top: 1rem;

            .lenke {
                list-style-type: none;
                margin-left: -1.175rem;
            }
        }
    }
}
