.meny {
    &__hovedSeksjon {
        flex-grow: 6;
        justify-content: center;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        margin-bottom: 0.2rem;
    }

    &__seksjon {
        padding: 0.75rem 0 0.5rem 2rem;

        li {
            list-style-type: initial;
            margin-bottom: 0.3rem;

            .lenke {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    color: white;
                }
            }
        }

        ul {
            margin: 0;
        }
    }

    // this media query can only be read by ie-explorer. ie grid fix
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &__hovedSeksjon {
            display: -ms-grid;
            -ms-grid-columns: 1fr 1fr 1fr;
        }

        &__seksjon {
            &:nth-child(2) {
                -ms-grid-column: 2;
            }

            &:nth-child(3) {
                -ms-grid-column: 3;
            }
            &:nth-child(4) {
                -ms-grid-column: 1;
                -ms-grid-row: 2;
            }
            &:nth-child(5) {
                -ms-grid-column: 2;
                -ms-grid-row: 2;
            }

            &:nth-child(6) {
                -ms-grid-column: 3;
                -ms-grid-row: 2;
            }
            &:nth-child(7) {
                -ms-grid-column: 1;
                -ms-grid-row: 3;
            }
            &:nth-child(8) {
                -ms-grid-column: 2;
                -ms-grid-row: 3;
            }
            &:nth-child(9) {
                -ms-grid-column: 3;
                -ms-grid-row: 3;
            }
            &:nth-child(10) {
                -ms-grid-column: 1;
                -ms-grid-row: 4;
            }
            &:nth-child(11) {
                -ms-grid-column: 2;
                -ms-grid-row: 4;
            }

            &:nth-child(12) {
                -ms-grid-column: 3;
                -ms-grid-row: 4;
            }
        }
    }

    &__minSideSeksjon {
        flex-grow: 1;
        margin: 0 0 0.2rem 0.5rem;
        padding: 0.75rem 0 0.5rem 1.5rem;
        min-width: 8rem;

        .lenke {
            color: black;
            text-decoration: none;

            &:focus {
                color: white;
            }

            &:active {
                font-weight: bold;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .minside-list-item {
            padding: 0.125rem 0 0.125rem 0;
            list-style: initial;
        }

        .minside-dittnav-lenke {
            margin-top: 1rem;

            .lenke {
                list-style-type: none;
                margin-left: -1.175rem;
            }
        }
    }
}
