@import (reference) '../../../../styling-variabler.less';

.mobil-header() {
    height: @header-height-mobil;

    .logout-knapp,
    .desktop-minside-meny__knapp {
        display: none;
    }

    .nav-logo-lenke {
        margin-left: @margins-sides-mobil;
        width: 4.5rem;
        padding: 0.25rem;
    }

    .login-knapp-container,
    .varselbjelle__knapp {
        margin-right: 0.5rem;
        margin-left: 0;

        @media @screen-mobile-small-down {
            margin-right: 0.25rem;
        }
    }

    #mobilmeny-knapp-id {
        margin-right: @margins-sides-mobil;

        @media @screen-mobile-small-down {
            margin-right: 0.5rem;
        }
    }
}
