@import (reference) '../../../../styling-variabler.less';

.mobilmeny {
    &__content {
        min-height: 88px;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        border-bottom: 2px solid @header-separator-farge;
    }

    &__elementer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__venstre-kolonne {
        padding-left: 0.5rem;
        width: 66px;
        height: 66px;
    }

    &__hoyre-kolonne {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 0.5rem;
        flex-wrap: wrap;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 66px;
        height: 66px;

        svg {
            width: 62px;
            height: 62px;
        }

        svg:hover {
            width: 66px;
            height: 66px;
        }

        &:hover {
            outline: 3px solid black;
        }

        &:focus {
            outline: 3px solid @fokusFarge;
        }
    }

    &__sok {
        margin-left: 3px;
        text-decoration: none;
        color: black;
        background-color: white;
        border: none;
        padding: 0.4rem 0.7rem 0.4rem 0.7rem;
        order: 2;

        &:hover {
            outline: 1px black solid;
        }

        &:focus {
            outline: 3px solid @fokusFarge;
        }
    }

    .login-knapp-container {
        order: 2;
        margin: 0 3px;
    }

    .varselbjelle__knapp {
        order: 3;
        margin-right: 0.5rem;
    }

    .mobilmeny__knapp {
        order: 3;
        &__frame {
            order: 3;
            margin-left: 0.5rem;
        }
    }

    .ekspanderbar__container {
        order: 4;
        width: 100%;
    }

    @media (max-width: @minimumMobilWidth) {
        &__sok {
            padding: 0.4rem 0.2rem;
        }
    }
}
