@import (reference) '../../../../styling-variabler.less';

.mobil-header() {
    height: @header-height-mobil;

    .logout-knapp,
    .desktop-minside-meny__knapp {
        display: none;
    }

    .nav-logo-lenke {
        margin-left: @margins-sides-mobil;
        @padding: 4px;
        padding: @padding;
        height: 36px + (@padding * 2);
    }

    #mobilmeny-knapp-id {
        margin-right: @margins-sides-mobil;

        @media @screen-mobile-small-down {
            margin-right: 0.75rem;
        }
    }
}
