@import '../../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../styling-variabler.less';

.desktopmeny,
.sok-modal-body {
    .sok .sok-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .sok-input-resultat {
        width: 90%;

        .sok-input {
            margin-bottom: 0;
            input {
                border-radius: 0;
                padding: 2rem 1rem 1.5rem;
                background-color: @navBlaDarken60;
                border: 2px solid @navBlaLighten60;
                color: white;

                &:focus,
                &:active {
                    border: 2px solid @navBlaLighten60;
                }

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder,
                &:-moz-placeholder {
                    color: white;
                }
            }

            input[type='search'] {
                box-sizing: border-box;
            }

            input[placeholder] {
                color: white;
                margin: 0;
                font-size: 1.375rem;
                line-height: 1.625rem;
                font-weight: 300;
            }

            .skjemaelement__label {
                opacity: 0;
                position: absolute;
                line-height: 0;
                height: 0;
                width: 0;
                color: transparent;
            }
        }

        .sok-input-mobil-submit {
            position: absolute;
            top: 1.25rem;
            right: 2rem;
            background-color: @navBlaDarken60;
            border: none;
        }

        .sokeresultat-liste {
            list-style: none;
            padding: 0;
            z-index: 1020;
            position: absolute;
            background-color: @navBlaDarken60;
            top: 100%;
            width: 90%;
            overflow: hidden;
            margin: 0;
            left: 5%;

            li {
                padding: 1rem;
                background-color: @navBlaDarken60;
                color: white;

                &:first-child {
                    border-top: 2px solid white;
                }

                &:last-child {
                    border-bottom: 2px solid white;
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                }

                &:not(:last-child) {
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                    border-bottom: none;
                }
            }

            li[aria-selected='true'] {
                background-color: @navBlaLighten20;
                font-weight: bold;
            }

            .sokeresultat-liste ul {
                padding: 0;
            }

            .sok-resultat-listItem {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .sok-resultat-chevron {
                padding: 0 1rem 0 0;
            }

            .sok-resultat-listItem-text {
                padding-left: 2.25rem;
            }
        }
    }

    @media (min-width: @tabletLimitWidth) {
        .sok .sok-container {
            width: auto;
            justify-content: space-between;
            margin-bottom: 0;
            margin-top: 0;
            align-items: center;
        }

        .sok-input-resultat {
            width: auto;
            position: relative;

            .sok-input {
                margin-right: 0;
                width: 20rem;
                input {
                    margin-right: 0.5rem;
                    background-color: white;
                    color: black;
                    border-radius: 2px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    padding: 0.5rem;
                    border: 1px solid #78706a;
                    box-sizing: border-box;
                    line-height: 1.37rem;

                    &::-webkit-input-placeholder,
                    &::-moz-placeholder,
                    &:-ms-input-placeholder,
                    &:-moz-placeholder {
                        color: black;
                    }

                    &.engelsk {
                        width: 18.2rem;
                    }
                }

                input[placeholder] {
                    color: black;
                    font-size: 1.1rem;
                }
            }

            .sok-input-mobil-submit {
                background-color: white;
                top: 0.325rem;
                right: 0.25rem;
            }

            .sokeresultat-liste {
                list-style: none;
                z-index: 10;
                position: absolute;
                background-color: white;
                top: 100%;
                left: 0;
                width: 320px;
                overflow: hidden;
                margin: 0;
                border-radius: 2px;

                li {
                    padding: 0.5rem 1rem;
                    background-color: white;
                    color: black;
                    font-weight: normal;
                    border: #b7b1a9 1px solid;

                    &:focus,
                    &:hover {
                        background-color: lightgray;
                        font-weight: bold;
                    }

                    &:first-child,
                    &:last-child,
                    &:not(:last-child) {
                        border: #b7b1a9 1px solid;
                    }

                    &:not(:last-child) {
                        border-bottom: none;
                    }
                }

                li[aria-selected='true'] {
                    background-color: lightgray;
                    font-weight: bold;
                }

                .sok-resultat-listItem-text {
                    padding-left: 0;
                }
            }
        }
    }

    @media (min-width: @desktopLimitWidth) {
        .sok .sok-container {
            width: 27.5rem;
        }

        .sok-input-resultat {
            .sok-input {
                margin-right: 0;
                width: 20rem;

                &.engelsk {
                    width: 18.2rem;
                }
            }
        }
    }
}
