@import '../../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../styling-variabler.less';

.desktopmeny,
.mobilmeny__startmeny,
.sok-modal-body,
.sok-modal__body {
    .sok .sok-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        z-index: 101;
    }

    .sok__bakgrunn {
        position: absolute;
        visibility: hidden;
        width: 100%;
        height: 50rem;
        left: 0;
        top: 8rem;
        z-index: 100;
        background-color: white;

        &--active {
            visibility: visible;
        }
    }

    @keyframes animateIn {
        0% {
            opacity: 0;
            transform: scale(0.6) translateY(-8px);
        }

        100% {
            opacity: 1;
        }
    }

    .sok-input-resultat {
        position: relative;
        width: 100%;

        .sok-input {
            margin-bottom: 0;

            input {
                border-radius: 50px;
                padding: 1.25rem 1rem;
                background-color: white;
                border: 2px solid @navBla;
                color: white;

                &:focus,
                &:active {
                    border: 2px solid @navBla;
                }

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder,
                &:-moz-placeholder {
                    color: @navBla;
                }
            }

            input[type='search'] {
                box-sizing: border-box;
            }

            input[placeholder] {
                color: @navBla;
                margin: 0;
                font-size: 1.375rem;
                line-height: 1.625rem;
                font-weight: 300;
            }

            input::placeholder {
                color: @navBla;
            }

            .skjemaelement__label {
                opacity: 0;
                position: absolute;
                line-height: 0;
                height: 0;
                width: 0;
                color: transparent;
            }
        }

        .sokeresultat-liste {
            list-style: none;
            padding: 0;
            z-index: 1020;
            position: absolute;
            background-color: white;
            top: 115%;
            width: 110%;
            overflow: hidden;
            margin: 0;
            left: -1rem;

            li {
                padding: 1rem;
                background-color: white;
                color: black;
                animation-name: animateIn;
                animation-duration: 150ms;
                animation-delay: calc(var(--listmap) * 50ms);
                animation-fill-mode: both;
                animation-timing-function: ease-in-out;
                box-shadow: @box-shadow;

                &:first-child {
                    border-top: 2px solid white;
                }

                &:last-child {
                    border-bottom: 2px solid white;
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                }

                &:not(:last-child) {
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                    border-bottom: none;
                }
            }

            li[aria-selected='true'] {
                background-color: lightgray;
                font-weight: bold;
            }

            .sokeresultat-liste ul {
                padding: 0;
            }

            .sok-resultat-listItem {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .sok-resultat-chevron {
                padding: 0 1rem 0 0;
            }

            .sok-resultat-listItem-text {
                padding-left: 2.25rem;
            }
        }
    }

    .sok-input-mobil-submit {
        position: absolute;
        top: 0.85rem;
        right: 2rem;
        background-color: white;
        border: none;

        &:focus {
            outline: 2px solid @navBla;
        }
    }

    @media (min-width: @tabletLimitWidth) {
        .sok .sok-container {
            width: auto;
            justify-content: center;
            margin-bottom: 0;
            margin-top: 1rem;
            align-items: flex-start;
            min-height: 50vh;
            .sok-ikon {
                position: relative;
                top: 0.35rem;
                right: 2.75rem;
                pointer-events: none;
            }
        }

        .sok-input-resultat {
            width: auto;

            .sok-input {
                margin-right: 0;
                width: 20rem;

                input {
                    margin-right: 0.5rem;
                    background-color: white;
                    color: black;
                    border-radius: 2px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    padding: 0.5rem;
                    border: 1px solid #78706a;
                    box-sizing: border-box;
                    line-height: 1.37rem;

                    &:focus,
                    &:active {
                        border: initial;
                    }

                    &::-webkit-input-placeholder,
                    &::-moz-placeholder,
                    &:-ms-input-placeholder,
                    &:-moz-placeholder {
                        color: black;
                    }

                    &.engelsk {
                        width: 18.2rem;
                    }
                }

                input[placeholder] {
                    color: black;
                    font-size: 1.1rem;
                }
            }

            .sokeresultat-liste {
                list-style: none;
                z-index: 10;
                position: relative;
                background-color: white;
                overflow-y: scroll;
                overflow-x: hidden;
                margin: 0;
                width: 20rem;
                max-height: 500px;
                //top: 120%;
                box-shadow: @box-shadow;
                top: 120%;
                border-radius: 1px;

                li {
                    padding: 1rem;
                    background-color: white;
                    color: black;
                    font-weight: normal;
                    border: #b7b1a9 1px solid;

                    &:focus,
                    &:hover {
                        background-color: lightgray;
                        font-weight: bold;
                    }

                    &:first-child,
                    &:last-child,
                    &:not(:last-child) {
                        border: #b7b1a9 1px solid;
                    }

                    &:not(:last-child) {
                        border-bottom: none;
                    }
                }

                li[aria-selected='true'] {
                    background-color: lightgray;
                    font-weight: bold;
                }

                .sok-resultat-listItem-text {
                    padding-left: 0;
                }
            }
        }

        .sok-input-mobil-submit {
            position: absolute;
            top: 0.35rem;
            right: 0.2rem;
            background-color: white;
            border: none;

            &:focus {
                outline: 3px solid @fokusFarge;
            }
        }
    }

    @media (min-width: @desktopLimitWidth) {
        .sok .sok-container {
            width: 27.5rem;
        }

        .sok-input-resultat {
            .sokeresultat-liste {
                width: 27.5rem;
            }

            .sok-input {
                margin-right: 0;
                width: 20rem;

                &.engelsk {
                    width: 18.2rem;
                }

                input[placeholder] {
                    border-radius: 0;
                    font-size: 1rem;
                    line-height: 1.425rem;
                }
            }
        }
    }
}
