@import '../../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../styling-variabler.less';

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }
    100% {
        opacity: 1;
    }
}

.desktopmeny,
.sok-modal__body {
    // Global styling
    .sok .sok-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sok-input-resultat {
        position: relative;
        width: 100%;
    }

    .sokeresultat-ingen-treff {
        margin: 1rem 1rem 0 1rem;
    }

    .sokeresultat-spinner {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .skjemaelement__label {
        display: none;
    }

    .sokeresultat-liste {
        list-style: none;
        position: relative;
        margin: 0;
        left: 0;

        li {
            padding: 1rem;
            color: black;
            font-weight: normal;
            border-bottom: #b7b1a9 1px solid;
            text-align: left;
            cursor: pointer;
            animation-name: animateIn;
            animation-duration: 150ms;
            animation-delay: calc(var(--listmap) * 50ms);
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;

            &:focus,
            &:hover {
                background-color: lightgray;
                font-weight: bold;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        li[aria-selected='true'] {
            background-color: lightgray;
            font-weight: bold;
        }

        .sok-resultat-listItem-text {
            padding-left: 0;
        }
    }

    // Mobile
    @media (max-width: @tabletLimitWidth) {
        .sok-input-resultat {
            .sok-input {
                margin-bottom: 0;
                input {
                    border-radius: 0;
                    padding: 2rem 1rem 1.5rem;
                    background-color: @navBlaDarken60;
                    border: 2px solid @navBlaLighten60;
                    color: white;

                    &:focus,
                    &:active {
                        border: 2px solid @navBlaLighten60;
                    }

                    &::-webkit-input-placeholder,
                    &::-moz-placeholder,
                    &:-ms-input-placeholder,
                    &:-moz-placeholder {
                        color: white;
                    }
                }

                input[type='search'] {
                    box-sizing: border-box;
                }

                input[placeholder] {
                    color: white;
                    margin: 0;
                    font-size: 1.375rem;
                    line-height: 1.625rem;
                    font-weight: 300;
                }
            }

            .sokeresultat-liste {
                list-style: none;
                padding: 0;
                z-index: 1020;
                width: 100%;
                overflow: hidden;

                li {
                    padding: 1rem;
                    color: white;
                }

                li[aria-selected='true'] {
                    font-weight: bold;
                }

                .sokeresultat-liste ul {
                    padding: 0;
                }

                .sok-resultat-listItem {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .sok-resultat-chevron {
                    padding: 0 1rem 0 0;
                }

                .sok-resultat-listItem-text {
                    padding-left: 2.25rem;
                }
            }
        }

        .sok-input-mobil-submit {
            position: absolute;
            top: 1.25rem;
            right: 2rem;
            background-color: @navBlaDarken60;
            border: none;

            &:focus {
                outline: 2px solid white;
            }
        }

        // Hide desktop stuff
        .sok-input__tittel,
        .desktop-sok__knapper {
            display: none;
        }
    }

    // Desktop
    @media (min-width: @tabletLimitWidth) {
        .sok-input-container {
            position: relative;
            display: flex;
        }

        .sok-input {
            width: 100%;

            &__tittel {
                margin: 1rem 0;
            }

            input {
                padding: 0.75rem;
                border: 2px solid @navBla;
            }
        }

        .sok .sok-container {
            width: auto;
            justify-content: center;
            align-items: flex-start;
            .sok-ikon {
                position: relative;
                top: 0.35rem;
                right: 2.75rem;
                pointer-events: none;
            }
        }

        .desktop-sok {
            &__container {
                width: 32px;
                height: 24px;
                padding: 0;
                position: relative;
                margin-right: 0.5em;
            }

            &__knapper {
                display: flex;
                height: 50px;
                position: absolute;
                right: 0;
            }

            &__knapp {
                display: flex;
                height: 100%;
                background: none;
                align-items: center;
                color: @navBla;
                font-family: 'Source Sans Pro', Arial, sans-serif;
                font-size: 1rem;
                padding: 0 1rem;
                font-weight: 600;
                border: 2px solid transparent;
                cursor: pointer;
                &:focus {
                    outline: 0;
                    background-color: white;
                    box-shadow: 0 0 0 3px @navBlaDarken60;
                    color: @navBla;
                }
                &:hover {
                    border: 2px solid @navBla;
                }
            }
            &__knapp-submit {
                background: @navBla;
                border-radius: 0 5px 5px 0;
                color: white;
                &:active,
                &:hover {
                    color: white;
                    border-color: #0074df;
                    background-color: #0074df;
                    .desktop-sok__sok-circle {
                        border: white 3px solid !important;
                    }
                    .desktop-sok__sok-line {
                        background-color: white !important;
                    }
                }
                &:focus {
                    .desktop-sok__sok-circle {
                        border: @navBla 3px solid;
                    }
                    .desktop-sok__sok-line {
                        background-color: @navBla;
                    }
                }
            }

            &__sok-line {
                transform-origin: top left;
                transform: translate(18.19152044px, 15.73576436px) rotate(35deg);
                height: 3px;
                width: 10px;
                background-color: white;
                position: absolute;
                transition: 0.35s all ease-in;
            }

            &__sok-circle {
                border-radius: 50%;
                border: white 3px solid;
                height: 20px;
                width: 20px;
                position: absolute;
                transform-origin: center;
                transition: 0.35s all ease-in;
            }

            &__reset-line-x {
                width: 28px;
                height: 3px;
                background-color: @navBla;
                transform: rotate(-45deg);
                position: absolute;
                left: 0;
                transition: all 0.35s ease-in-out;
                top: 10px;
            }
            &__reset-line-y {
                width: 28px;
                height: 3px;
                background-color: @navBla;
                transform: rotate(45deg);
                position: absolute;
                left: 0;
                transition: all 0.35s ease-in-out;
                top: 10px;
            }
        }

        // Hide mobile stuff
        .sok-input-mobil-submit {
            display: none !important;
        }
    }
}
