@import '~nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

.hovedmeny {
    width: 100%;
    padding: 0.5rem 0 1rem;
    border-bottom: 2px solid @navBla;
    min-height: 6.5rem;

    .hovedmeny__content {
        width: @desktopLimitWidth;
        margin: 0 auto;

        .hovedmeny__meny-elementer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .navbar-brand,
            .meny-button {
                order: 1;
            }

            .sok,
            .varselbjelle,
            .minside-lenke,
            .login-container {
                order: 2;
            }

            .hovedmeny__dropdown-menu {
                order: 3;
                width: 100%;
                margin-bottom: 0;
                overflow: hidden;
                min-height: 0;
                max-height: 0;
                transition: all 0.7s ease-in;

                &--active {
                    margin-bottom: 2rem;
                    min-height: 30rem;
                    max-height: 40rem;
                }
            }
        }
    }
}
