@import (reference) '../../../styling-variabler.less';

.simple-footer {
    &__container {
        min-height: 5.5rem;
        display: flex;
        padding: 0.5rem 0;
        border-top: 2px solid #0067c5;
        justify-content: center;
    }

    &__content {
        width: 100%;
        max-width: 1440px;
        display: flex;

        @media (min-width: @smallDesktopLimitWidth) {
            justify-content: space-between;
            align-items: center;
            padding: 0 3rem;
        }
        @media (max-width: @smallDesktopLimitWidth) {
            flex-direction: column;
            padding: 1rem 1rem;
        }
    }

    &__personvern-lenker {
        @media (min-width: @smallDesktopLimitWidth) {
            margin: 0;
            display: flex;
            li {
                padding-right: 2rem;
            }
        }
        @media (max-width: @smallDesktopLimitWidth) {
            margin: 0 0 1rem 0;
            li {
                padding: 0.375rem 0 0.375rem 0;
            }
        }
    }

    &__right-col {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .chatbot-container {
            padding-left: 1rem;
            bottom: 4px;
        }
    }

    &__del-skjerm {
        display: flex;
        @media (min-width: @smallDesktopLimitWidth) {
            justify-content: center;
            align-items: center;
        }
        & > *:last-child {
            margin-left: 0.5rem;
        }
    }

    &__lenke {
        @media (max-width: @smallDesktopLimitWidth) {
            :first-child {
                margin: 0 0 1rem 0;
            }

            :not(:first-child) {
                margin: 1rem 0;
            }
        }
    }
}
