@import (reference) '../../../styling-variabler.less';

.simple-footer {
    @min-height: 5.5rem;

    &__container {
        min-height: @min-height;
        display: flex;
        padding: 0.5rem 0;
        border-top: 2px solid #0067c5;
        justify-content: center;

        .chatbot-fixed-container {
            bottom: @min-height;
            right: 2rem;
            width: 100%;

            @media @screen-desktop-small-width-down {
                bottom: 1rem;
                right: 1rem;
            }
        }

        .chatbot-dock {
            @media @screen-desktop-small-width-down {
            }
        }
    }

    &__content {
        width: 100%;
        max-width: 1440px;
        display: flex;

        @media @screen-desktop-medium-up {
            justify-content: space-between;
            align-items: center;
        }
        @media @screen-desktop-small-width-down {
            flex-direction: column;
        }
    }

    &__personvern-lenker {
        @media @screen-desktop-medium-up {
            margin: 0;
            display: flex;
            li {
                padding-right: 2rem;
            }
        }
        @media @screen-desktop-small-width-down {
            margin: 0 0 1rem 0;
            li {
                padding: 0.375rem 0 0.375rem 0;
            }
        }
    }

    &__right-col {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    &__del-skjerm {
        display: flex;
        @media @screen-desktop-medium-up {
            justify-content: center;
            align-items: center;
        }
        & > *:last-child {
            margin-left: 0.5rem;
        }
    }

    &__lenke {
        @media @screen-desktop-small-width-down {
            :first-child {
                margin: 0 0 1rem 0;
            }

            :not(:first-child) {
                margin: 1rem 0;
            }
        }
    }
}
