@import (reference) '../../../styling-variabler.less';

.arbeidsflate-lenkepanel {
    &--inverted,
    &--inverted:hover {
        .arbeidsflate-lenkepanel__text {
            color: white;
        }
    }

    &--inverted:focus {
        .arbeidsflate-lenkepanel__text {
            color: @navBla;
        }

        svg {
            filter: invert(0);
        }
    }

    &--inverted {
        svg {
            filter: invert(1);
        }
    }

    &--compact {
        .navds-heading.arbeidsflate-lenkepanel__text {
            font-size: 1.2rem;
        }
        .navds-body-long.arbeidsflate-lenkepanel__text {
            font-size: 1.1rem;
            margin-top: var(--navds-spacing-1);
            line-height: 1.5rem;
        }
    }

    // LinkPanel overrides
    .navds-link-panel__content {
        align-self: flex-start;
    }
}
