@import (reference) '../../../styling-variabler.less';

.arbeidsflate-lenkepanel {
    border: 2px @navds-global-color-blue-500 solid;
    border-radius: 4px;
    margin-bottom: 0;

    &:hover {
        border: 2px @navds-global-color-blue-500 solid;
        background-color: @navds-global-color-blue-500;

        .navds-link-panel__chevron,
        .navds-link-panel__title,
        .navds-link-panel__description,
        .compact-chevron {
            color: @navds-global-color-white;
        }

        .compact-chevron {
            transform: translateX(6px);
            stroke: @navds-global-color-white;
        }
    }

    .compact-chevron {
        display: none;
        align-self: center;
        margin-right: 8px;
        margin-left: -4px;
        stroke: @navds-global-color-blue-500;
        transition: transform 0.25s;
    }

    &__text {
        display: flex;
        align-items: center;
    }

    .navds-link-panel__content {
        align-self: flex-start;
    }

    .navds-link-panel__title {
        color: @navds-global-color-blue-500;
    }

    .navds-link-panel__chevron {
        color: @navds-global-color-blue-500;
    }

    &--inverted,
    &--inverted:hover {
        .navds-link-panel__chevron,
        .navds-link-panel__title,
        .navds-link-panel__description {
            color: @navds-global-color-white;
        }
    }

    &--inverted:focus {
        .arbeidsflate-lenkepanel__text {
            color: @navds-global-color-blue-500;
        }
        .navds-link-panel__chevron {
            color: @navds-global-color-blue-500;
        }
    }

    &--compact {
        .navds-link-panel__title {
            font-size: 1.2rem;
        }

        .navds-link-panel__description {
            font-size: 1.1rem;
            margin-top: var(--navds-spacing-1);
            line-height: 1.5rem;
        }

        @media @screen-desktop-small-down {
            padding: 0.5rem 0.75rem;
            margin-bottom: 0.25rem;

            .navds-link-panel__chevron {
                display: none;
            }

            .compact-chevron {
                display: inline-block;
            }
        }
    }

    @media @screen-mobile {
        padding: 0.75rem 1rem;
    }
}
