@use 'src/styling-variabler' as sv;

:global(.arbeidsflate-lenkepanel) {
    border: 2px var(--a-blue-500) solid;
    border-radius: 4px;
    margin-bottom: 0;

    &:hover {
        border: 2px var(--a-blue-500) solid;
        background-color: var(--a-blue-500);

        :global(.navds-link-panel__chevron),
        :global(.navds-link-panel__title),
        :global(.navds-link-panel__description),
        :global(.compact-chevron) {
            color: var(--a-white);
        }

        :global(.compact-chevron) {
            transform: translateX(6px);
            stroke: var(--a-white);
        }
    }

    :global(.navds-link-panel__content) {
        align-self: flex-start;
    }

    :global(.navds-link-panel__title) {
        color: var(--a-blue-500);
    }

    :global(.navds-link-panel__chevron) {
        color: var(--a-blue-500);
    }

    :global(.compact-chevron) {
        display: none;
        align-self: center;
        margin-right: 8px;
        margin-left: -4px;
        stroke: var(--a-blue-500);
        transition: transform 0.25s;
    }

    @media #{sv.$screen-mobile} {
        padding: 0.75rem 1rem;
    }
}

.text {
    display: flex;
    align-items: center;
}

.compact {
    :global(.navds-link-panel__title) {
        font-size: 1.2rem;
    }

    :global(.navds-link-panel__description) {
        font-size: 1.1rem;
        margin-top: var(--a-spacing-1);
        line-height: 1.5rem;
    }

    @media #{sv.$screen-desktop-small-down} {
        padding: 0.5rem 0.75rem;
        margin-bottom: 0.25rem;
        border: none;

        :global(.navds-link-panel__chevron) {
            display: none;
        }

        :global(.compact-chevron) {
            display: inline-block;
        }
    }
}
