@use 'src/styling-variabler' as sv;

.arbeidsflateLenkepanel {
    border: 2px var(--navds-global-color-blue-500 solid);
    border-radius: 4px;
    margin-bottom: 0;

    &:hover {
        border: 2px var(--navds-global-color-blue-500 solid);
        background-color: var(--navds-global-color-blue-500);

        :global(.navds-link-panel__chevron),
        :global(.navds-link-panel__title),
        :global(.navds-link-panel__description),
        :global(.compact-chevron) {
            color: var(--navds-global-color-white);
        }

        :global(.compact-chevron) {
            transform: translateX(6px);
            stroke: var(--navds-global-color-white);
        }
    }

    :global(.navds-link-panel__content) {
        align-self: flex-start;
    }

    :global(.navds-link-panel__title) {
        color: var(--navds-global-color-blue-500);
    }

    :global(.navds-link-panel__chevron) {
        color: var(--navds-global-color-blue-500);
    }

    @media #{sv.$screen-mobile} {
        padding: 0.75rem 1rem;
    }
}

.compactChevron {
    display: none;
    align-self: center;
    margin-right: 8px;
    margin-left: -4px;
    stroke: var(--navds-global-color-blue-500);
    transition: transform 0.25s;
}

.text {
    display: flex;
    align-items: center;
}

.inverted,
.inverted:hover {
    :global(.navds-link-panel__chevron),
    :global(.navds-link-panel__title),
    :global(.navds-link-panel__description) {
        color: var(--navds-global-color-white);
    }
}

.inverted:focus {
    .text {
        color: var(--navds-global-color-blue-500);
    }
    :global(.navds-link-panel__chevron) {
        color: var(--navds-global-color-blue-500);
    }
}

.compact {
    :global(.navds-link-panel__title) {
        font-size: 1.2rem;
    }

    :global(.navds-link-panel__description) {
        font-size: 1.1rem;
        margin-top: var(--navds-spacing-1);
        line-height: 1.5rem;
    }

    @media #{sv.$screen-desktop-small-down} {
        padding: 0.5rem 0.75rem;
        margin-bottom: 0.25rem;

        :global(.navds-link-panel__chevron) {
            display: none;
        }

        .compactChevron {
            display: inline-block;
        }
    }
}
