@import (reference) '../../../styling-variabler.less';

.arbeidsflate-lenkepanel {
    border: 2px @navBla solid;
    margin-bottom: 0;

    &:hover {
        border: 2px @navBla solid;
        background-color: @navBla;

        .lenkepanel__indikator,
        .lenkepanel__heading,
        .arbeidsflate-lenkepanel__stikkord {
            color: @white;
        }
    }

    &__innhold {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        height: 100%;
    }

    .lenkepanel__indikator,
    .lenkepanel__heading {
        color: @navBla;
    }

    &__compact-chevron {
        display: none;
    }

    &__compact {
        @media @screen-desktop-small-down {
            padding: 0.5rem 0.75rem;
            margin-bottom: 0.25rem;

            &-chevron {
                display: inline-block;
                align-self: center;
                margin-right: 8px;
                margin-left: -4px;
                left: 0;
                transition: left 0.25s;
                vertical-align: middle;
            }

            .lenkepanel__indikator {
                display: none;
            }

            .lenkepanel__heading {
                &::after {
                    content: ' ';
                    margin-right: 0.4rem;
                }
            }

            &:hover {
                .arbeidsflate-lenkepanel__compact-chevron {
                    left: 6px;
                }
            }
        }
    }

    @media @screen-mobile {
        padding: 0.75rem 1rem;
    }
}
