@import '../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

.site-skiplinks {
    ul {
        margin: 0;
    }

    li > .visuallyhidden.focusable:focus,
    li > .visuallyhidden.focusable:active {
        height: 2.625rem;
    }

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;

        &.focusable:focus,
        &.focusable:active {
            clip: auto;
            height: auto;
            width: auto;
            padding: 0.8rem;
            margin: 0;
            overflow: visible;
        }

        &.focusable:focus {
            outline: none;
            color: white;
            text-decoration: none;
            background-color: @fokusFarge;
            box-shadow: 0 0 0 2px @fokusFarge;
        }
    }
}
