@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:focus,
    &.focusable:active {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        width: auto;
    }
    &.focusable:focus {
        outline: none;
        color: white;
        text-decoration: none;
        background-color: @fokusFarge;
        box-shadow: 0 0 0 2px @fokusFarge;
    }
}
