.varselContainer {
    $separator-props: var(--navds-global-color-gray-800) solid 1px;
    border-bottom: $separator-props;
    &:first-of-type {
        border-top: $separator-props;
    }
}

.varsel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1.25rem 0;
}

.ikonContainer {
    $ikonSize: 28px;
    padding: 0.75rem;
    margin-right: 1rem;
    border-radius: 50%;
    display: block;
    align-self: flex-start;
    background-color: #ffe4c2;

    // .varselIkon {
    //     width: $ikonSize;
    //     height: $ikonSize;
    // }
}

.varselDato {
    margin-bottom: 0.25rem;
}

.infotekst {
    margin-bottom: 0.5rem;
}
