@use 'src/styling-variabler' as sv;

.varslerVisning {
    ul {
        padding: 0;
    }

    @media #{sv.$screen-mobile} {
        padding: 1rem sv.$margins-sides-mobil;
        background-color: white;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.tittel {
    @media #{sv.$screen-mobile} {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

.tomListe {
    margin-top: 1rem;
}
