@import (reference) '../../../../../../styling-variabler.less';

.varsler-visning {
    margin: 0 auto;
    box-sizing: initial;

    ul {
        padding: 0;
    }

    &__tittel {
        margin: 1rem 0;
        width: 100%;
    }

    &__tom-liste {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media @screen-mobile {
        padding: 1rem @margins-sides-mobil;
        background-color: #f7f7f7;
        overflow-x: hidden;

        &__tittel {
            font-size: 2rem;
            line-height: 2.25rem;
        }
    }

    @media (max-width: 476px) {
        width: 90%;
        margin: 0 auto;
    }

    &__tom-liste {
        margin-top: 1rem;
    }

    .dekorator-vis-alle-lenke {
        margin-top: 0.5rem;
    }

    .dekorator-varsel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 1.25rem 0;

        .varsel-ikon-container {
            @ikonSize: 28px;
            padding: 0.75rem;
            margin-right: 1rem;
            border-radius: 50%;
            display: block;
            align-self: flex-start;

            .varsel-ikon {
                width: @ikonSize;
                height: @ikonSize;
            }

            &.alarm-ikon {
                background-color: #ffe4c2;
            }

            &.kalender-ikon {
                background-color: #ecefcc;
            }

            &.snakkeboble-ikon {
                background-color: #f1d8d4;
            }

            &.dokument-ikon {
                background-color: #e0dae7;
            }

            &.plaster-ikon {
                background-color: @navds-global-color-lightblue-100;
            }
        }

        .varsel-innhold {
            .varsel-dato {
                margin-bottom: 0.25rem;
            }

            .infotekst {
                margin-bottom: 0.5rem;
            }
        }
    }
}

.vis-alle-lenke {
    color: #262626;
}

.varsler-visning-tom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.varsler-tom-tittel {
    font-size: 20px;
    font-weight: 600;
    margin: 32px 0 4px 0;
}

.varsler-tom-ingress {
    font-size: 18px;
    font-weight: 400;
    margin: 4px 0 32px 0;
}
