@import (reference) '../../../../../../styling-variabler.less';

.varsler-visning {
    ul {
        padding: 0;
    }

    @media @screen-mobile {
        padding: 1rem @margins-sides-mobil;
        background-color: white;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        &__tittel {
            .typo-innholdstittel;
        }
    }

    &__tom-liste {
        margin-top: 1rem;
    }

    .dekorator-varsel-container {
        @separator-props: @navds-global-color-gray-800 solid 1px;
        border-bottom: @separator-props;
        &:first-of-type {
            border-top: @separator-props;
        }
    }

    .dekorator-vis-alle-lenke {
        margin-top: 0.5rem;
    }

    .dekorator-varsel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 1.25rem 0;

        .varsel-ikon-container {
            @ikonSize: 28px;
            padding: 0.75rem;
            margin-right: 1rem;
            border-radius: 50%;
            display: block;
            align-self: flex-start;

            .varsel-ikon {
                width: @ikonSize;
                height: @ikonSize;
            }

            &.alarm-ikon {
                background-color: #ffe4c2;
            }

            &.kalender-ikon {
                background-color: #ecefcc;
            }

            &.snakkeboble-ikon {
                background-color: #f1d8d4;
            }

            &.dokument-ikon {
                background-color: #e0dae7;
            }

            &.plaster-ikon {
                background-color: #e0f5fb;
            }
        }

        .varsel-innhold {
            .varsel-dato {
                .typo-etikett-liten;
                margin-bottom: 0.25rem;
            }

            .typo-infotekst {
                .typo-normal;
                margin-bottom: 0.5rem;
            }
        }
    }
}
