@use 'src/styling-variabler' as sv;

.varsler-visning {
    margin: 8px auto 0 auto;
    box-sizing: initial;

    ul {
        padding: 0;
    }

    &-tittel {
        margin: 1rem 0;
        width: 100%;
    }

    @media #{sv.$screen-mobile} {
        padding: 1rem 1rem;
        background-color: var(--a-surface-subtle);
        overflow-x: hidden;
        overflow-y: auto;

        &-tittel {
            font-size: 2rem;
            line-height: 2.25rem;
        }
    }

    @media (max-width: 476px) {
        width: 90%;
        margin: 0 auto;
    }

    &-tom-liste {
        margin-top: 1rem;
    }

    .dekorator-vis-alle-lenke {
        margin-top: 0.5rem;
    }
}

.vis-alle-lenke {
    color: var(--a-text-default);
}

.varsler-visning-tom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.varsler-visning-tom-tittel {
    margin: 1rem 0 2rem 0;
    width: 100%;

    @media (max-width: 768px) {
        padding-left: 1rem;
    }
}

.varsler-tom-hovedtekst {
    font-size: 20px;
    font-weight: 600;
    margin: 24px 0 0 0;
}

.varsler-tom-ingress {
    font-size: 18px;
    font-weight: 400;
    margin:0;
}
.varsler-visning-tom-liste{
    display: flex;
    flex-direction: column;
    align-items: center;
}