@import '../../../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../../styling-variabler.less';

.mobilmeny {
    &__meny-innhold,
    &__varsel-innhold {
        position: absolute;
        top: 0;
        left: -(@mobilemenuwidth);
        z-index: 1001;
    }

    &__undermeny-innhold,
    &__varsel-innhold {
        top: 0;
        left: -(@mobilemenuwidth);
        width: @mobilemenuwidth;
        position: fixed;

        &--active {
            left: 0;
        }
    }

    &__meny-innhold,
    &__undermeny-innhold,
    &__varsel-innhold {
        padding: 1rem;
        background-color: white;
        width: @mobilemenuwidth;
        max-width: 375px;
        height: 100%;
        border-radius: 3px;
        overflow: scroll;
        transition: all 0.7s ease-in-out;

        &--aktive {
            left: 0;
        }
    }

    &__meny {
        &--list ul {
            margin: 0;
        }

        &--list {
            padding: 1rem 1rem 0.5rem 1rem;

            .lenke {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &:active,
                &:focus {
                    color: @navDypBla;
                    box-shadow: none;
                }
            }
        }

        &--listItem {
            padding-bottom: 2rem;
        }

        &--tilbakelenke {
            padding-bottom: 0;
        }

        &--text-element {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &--text-element-undermeny {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        &--ingress {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 1.5rem 0 1.5rem;
            color: @navGra80;

            .typo-sidetittel {
                font-weight: 500;
            }
        }
    }

    &__undermeny-chevron {
        padding-right: 0.5rem;
    }

    &__lukk-undermeny {
        .lenke {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem;
        }

        .lenke i {
            margin-right: 0.5rem;
        }
    }

    .min-varsel-wrapper {
        .mobilmeny {
            &__lukk-undermeny {
                .lenke {
                    padding-top: 0;
                    padding-bottom: 2rem;
                }
            }
        }
    }

    &__mobilbakgrunn {
        display: none;
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);

        &--active {
            display: initial;
        }
    }

    &__minside-rad {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem 0 0.5rem;

        &--sett-rad-midt {
            justify-content: flex-start;
        }
    }
}
