.feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;

    .buttons-container {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-evenly;
    }

    .knapp {
        margin-right: 1em;
        margin-left: 1em;
    }
}
