@use 'src/styling-variabler' as sv;

.footerLinje {
    border-top: sv.$footer-seperator-farge sv.$footer-seperator-height solid;
}

.feedbackContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: sv.$desktopMinWidth;
    padding: 1rem;
    @media #{sv.$screen-desktop-large-up} {
        padding: 1rem 0;
    }

    label {
        line-height: 1.5;
    }
}

.feedbackContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .knapp {
        min-width: 109px;
        margin: 0.25em;
        flex-wrap: nowrap;
    }
}

.buttonsContainer {
    padding-left: 1em;
    padding-right: 1em;
}
