.send-survey-wrapper {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;

    width: 70%;

    background-color: bisque;
    
}

.send-survey-wrapper *:not(:last-child) {
    margin-bottom: 1em;

}