@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../styling-variabler.less';

.sitefooter {
    &__logo .navbar-brand {
        width: 68px;
        height: 68px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.8rem;

        &:focus,
        &:active {
            outline: @fokusFarge 3px solid;
        }
        svg {
            &:focus {
                outline: 0;
            }
        }
    }

    @media (min-width: @tabletLimitWidth) {
        &__logo .navbar-brand {
            width: 65px;
            height: 65px;
        }
    }
}
