@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../styling-variabler.less';

.hovedmeny .navbar-brand {
    padding-right: 0.25rem;
    min-width: 97.2px;

    &:focus,
    &:active {
        background-color: initial;
        outline: @fokusFarge 3px solid;
        border-radius: 4px;
    }
    svg {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: @desktopLimitWidth) {
    .hovedmeny .navbar-brand {
        svg {
            width: 88px;
            height: 88px;
        }
    }
}
