@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../styling-variabler.less';

.footer {
    &__logo .navbar-brand {
        width: 60px;
        height: 60px;

        &:focus,
        &:active {
            outline: @fokusFarge 3px solid;
            // background-color: initial;
        }
        svg {
            &:focus {
                outline: 0;
            }
        }
    }

    @media (min-width: @tabletLimitWidth) {
        &__logo .navbar-brand {
            width: 65px;
            height: 65px;
        }
    }
}
