.elaborated-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.5em;

    .overskrift-container {
        display: flex;
        flex-direction: row;

        .kryssut-knapp {
            margin-left: auto;
        }
    }
}

.elaborated-content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: space-between;

    .tekst {
        padding-bottom: 0.25em;
    }

    .submit-knapp {
        padding-top: 0.5em;
    }
}

.advarsel {
    padding-bottom: 0.5em;
}
