@import '~nav-frontend-core/less/_variabler';

.desktop-minside-meny {
    &__knapp-visning {
        width: 10rem;
        overflow: hidden;
    }

    &__knapp-tekst {
        text-align: left;
    }

    &__knapp-tekst-topp {
        font-weight: bold;
    }

    &__knapp-tekst-bunn {
        margin-top: -0.25em;
        overflow-x: hidden;
        white-space: nowrap;
    }
}
