.sprakvarsel {
    &__container {
        display: flex;
        align-items: center;
        justify-items: center;
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
