@import (reference) '../../../styling-variabler.less';


.driftsmeldinger {
  background-color: #00548E;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;

  .message {
    color: #FFF;
    padding: 0.5rem;
    margin: 0 1.5rem;
    display: flex;
    align-items: center;

    &:focus {
      color: #0067C5;
      background-color: #FFF;
      text-decoration: underline;
      box-shadow: none;
    }

    .message-icon {
      margin-right: 0.5rem;
    }
  }
}
