@import '~nav-frontend-core/less/_variabler';

.varsel-meny-ikon {
    &__container {
        border: none;
        display: inline-block;
        position: relative;
        background-color: white;
        margin-right: 0.5rem;
    }
}
