@import (reference) '../../../../../../styling-variabler.less';

.hamburger-ikon {
    @width: 20px;
    @height: 18px;
    @line-spacing: 8px;
    @line-height: 2px;
    @midtpunkt: floor(@height / 2 - @line-height / 2);

    width: @width;
    height: @height;
    padding: 0;
    margin: 3px 2px;
    position: relative;
    display: block;

    .hamburger-knapp-linje() {
        width: @width;
        height: @line-height;
        background-color: @navds-global-color-blue-500;
        position: absolute;
        left: 0;
        transition: all 0.35s ease-in-out;
    }

    &__topp {
        .hamburger-knapp-linje();
        top: @midtpunkt - @line-spacing;

        &--open {
            width: 23px;
            left: -1px;
            transform: translateY(@line-spacing) rotateZ(-135deg);
        }
    }

    &__midt {
        .hamburger-knapp-linje();
        top: @midtpunkt;

        &--open {
            transform: rotateZ(-180deg) scale(0);
        }
    }

    &__bunn {
        .hamburger-knapp-linje();
        top: @midtpunkt + @line-spacing;

        &--open {
            width: 23px;
            left: -1px;
            transform: translateY(-@line-spacing) rotateZ(-225deg);
        }
    }
}
