@media (prefers-reduced-motion: no-preference) {
    :where(.menuBurger) * {
        transition-property: transform, opacity, stroke-width;
        transition-duration: 260ms;
        transition-timing-function: cubic-bezier(0.2, 0, 0.6, 1.3);
    }
}

:where(.menuBurger) * {
    transform-origin: center;
}

[aria-expanded='true'] .menuBurger__line-1 {
    transform: rotate(-225deg) translate3d(0, 8px, 0);
}
[aria-expanded='true'] .menuBurger__line-2 {
    transform: rotate(-180deg) scaleX(0);
}
[aria-expanded='true'] .menuBurger__line-3 {
    transform: rotate(-135deg) translate3d(0, -8px, 0);
}
