@use 'src/styling-variabler' as sv;

$width: 20px;
$height: 18px;
$line-spacing: 8px;
$line-height: 2px;
$midtpunkt: floor($height / 2 - $line-height / 2);

.hamburgerIkon {
    width: $width;
    height: $height;
    padding: 0;
    margin: 3px 2px;
    position: relative;
    display: block;
}

@mixin hamburgerKnappLinje() {
    width: $width;
    height: $line-height;
    background-color: var(--navds-global-color-blue-500);
    position: absolute;
    left: 0;
    transition: transform 0.35s ease-in-out;
}

.topp {
    @include hamburgerKnappLinje;
    top: $midtpunkt - $line-spacing;
}

.midt {
    @include hamburgerKnappLinje;
    top: $midtpunkt;
}

.bunn {
    @include hamburgerKnappLinje;
    top: $midtpunkt + $line-spacing;
}

.toppOpen {
    width: 23px;
    left: -1px;
    transform: translateY($line-spacing) rotateZ(-135deg);
}

.midtOpen {
    transform: rotateZ(-180deg) scale(0);
}

.bunnOpen {
    width: 23px;
    left: -1px;
    transform: translateY(-$line-spacing) rotateZ(-225deg);
}
