@import (reference) '../../../../../../styling-variabler.less';
@import (reference) '../meny-lenker/MenyLenker';
@import (reference) '../ekspanderbar-meny/EkspanderbarMeny';

.desktop-minside-meny {
    @lenkeseksjoner-cols: 3;
    @lenkeseksjoner-margin: 1.5em;

    &__innhold-bredde {
        max-width: 55rem;
    }

    &__innhold-wrapper {
        right: 200px;
        max-width: 150px;
        transition-property: @ekspanderbar-transition-props, max-width, right;

        &--aktive {
            max-width: 100%;
            right: 0;
        }
    }

    &__knapp-tekst {
        text-align: left;
    }

    &__knapp-tekst-topp {
        font-weight: bold;
    }

    &__knapp-tekst-bunn {
        margin-top: -0.25em;
        overflow-x: hidden;
        white-space: nowrap;
    }

    &__lenke-seksjoner {
        display: flex;
        justify-content: flex-start;

        & > * {
            .col-setup(@lenkeseksjoner-cols, @lenkeseksjoner-margin);
        }
    }

    &__topp-seksjon {
        margin: 1.5rem -3rem;
        padding: 1rem 3rem;
    }

    &__topp-seksjon-lenke {
        .lenke-stil();
    }

    &__topp-seksjon-tittel {
        margin-top: 0.15em;
    }

    &__lock-msg-container {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 1.5rem;
    }

    &__lock-msg-alert {
        width: 100%;
        margin-bottom: -0.5rem;
    }
}
