@import '../../../../../styling-variabler.less';
@import '../../common/ekspanderbar-meny/EkspanderbarMeny';

.desktop-sok-dropdown {
    @dropdownwidth: 700px;

    .ekspanderbar {
        &__innhold-wrapper {
            max-width: @dropdownwidth;
            transition-duration: 0.2s;

            &--active {
                max-height: 12rem;
                transition-duration: 0.3s;
            }
        }

        &__innhold {
            left: 0;
            max-width: @dropdownwidth;
        }
    }
}
