@import '../../../../../styling-variabler.less';
@import '../../common/ekspanderbar-meny/EkspanderbarMeny';

.desktop-sok-dropdown {
    .ekspanderbar {
        &__innhold-wrapper {
            width: 700px;
            transition-duration: 0.2s;

            &--active {
                max-height: 12rem;
                transition-duration: 0.3s;
            }
        }
    }
}
