@use 'src/styling-variabler.scss' as sv;

$bunnseksjon-cols: 3;

.bunnSeksjon {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.75rem;

    @media #{sv.$screen-desktop-small-down} {
        margin: 0;
    }

    :global(.arbeidsflate-lenkepanel) {
        @include sv.flex-col-width-mixin($bunnseksjon-cols, 1rem);
        flex-grow: 1;

        @media #{sv.$screen-desktop-small-down} {
            @include sv.flex-col-width-mixin($bunnseksjon-cols, 0.5rem);
            padding: 0.375rem 0.5rem;
        }
    }
}

@media #{sv.$screen-desktop-small-down} {
    .innhold {
        display: inline-block;

        & > * {
            display: inline;
        }
    }
}
