.lenke-med-ikon {
    display: flex;
    &--venstrestiltIkon {
        flex-direction: row-reverse;
        span {
            margin-left: 0.5rem;
        }
    }
    span {
        margin-right: 0.5rem;
    }
}
