.spinner-container {
    width: 100%;
    text-align: center;
    padding: 1rem;
    .dekorator-spinner {
        all: unset;
        width: 64px;
        height: 64px;
        margin-top: 1rem;
    }
}
