@import (reference) '~nav-frontend-spinner-style/src/spinner-style';

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 1rem;
    .dekorator-spinner {
        all: unset;
        .spinner;
        width: 64px;
        height: 64px;
        margin-top: 1rem;
    }
}
