@import (reference) '../../../../../styling-variabler.less';

.textarea__container {
    width: auto;

    label {
        margin-bottom: 1em;
    }

    textarea {
        min-height: 8rem;
    }

    .skjemaelement__feilmelding {
        span {
            display: block;
            &:not(:last-of-type) {
                margin-bottom: 0.5rem;
            }
        }
    }

    .skjemaelement__description {
        margin-bottom: 1rem;
    }
}
