@import (reference) '../../../../../styling-variabler.less';

.sitefooter {
    &__logo .navbar-brand {
        width: 68px;
        height: 68px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.8rem;
        border-radius: 4px;

        img {
            width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }

        &:focus,
        &:active {
            box-shadow: 0 0 0 4px @fokusFarge;
            background-color: transparent;
            outline: none;
            border-color: transparent;
        }
    }

    @media (min-width: @desktopMinWidth) {
        &__logo .navbar-brand {
            width: 65px;
            height: 65px;
        }
    }
}
