@menyMargin: 1rem;

.mosaic-meny {
    display: flex;
    flex-direction: row;

    &__column {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;

        &:not(:last-child) {
            margin-right: @menyMargin;
        }
    }
}

.grid-meny {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
        // IE11 fallback
        width: calc(100% / 4 - @menyMargin * 0.75);
        width: calc(
            100% / var(--numcols) - @menyMargin * (1 - 1 / var(--numcols))
        );
    }
}
