@use 'src/styling-variabler.scss' as sv;

.brodsmulesti {
    display: flex;

    @media #{sv.$screen-mobile} {
        width: 100%;
    }

    ol {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        & > * {
            margin: 0.25rem 0.25rem 0.25rem 0;
        }
    }
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    svg * {
        stroke: var(--navds-global-color-gray-600);
        fill: var(--navds-global-color-gray-600);
    }

    .iconHome {
        margin-right: 0.75rem;
        margin-top: 2px; // Visual imbalance fix
        stroke-width: 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:focus .iconHome {
        color: var(--navds-global-color-gray-600);
    }
}

.text::first-letter {
    text-transform: uppercase;
}

.iconViewAll {
    border: 0;
    display: inline-flex;
    background-color: transparent;
    cursor: pointer;
    svg * {
        margin-top: 0;
    }
}

.iconNext {
    margin-top: 5px;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem;
}

.iconShowAll {
    display: flex;
    justify-content: center;
    align-items: center;

    svg * {
        stroke: var(--navds-global-color-gray-600);
        fill: var(--navds-global-color-gray-600);
    }

    .iconHome {
        margin-right: 0.75rem;
        margin-top: 2px; // Visual imbalance fix
        stroke-width: 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:focus .iconHome {
        color: var(--navds-global-color-gray-600);
    }
    margin: 1px 0px 0px 6px;
    stroke: var(--navds-global-color-gray-600);
    color: var(--navds-global-color-gray-600);
}

.iconEllipsis {
    margin-left: -0.25rem;
    margin-right: 0.25rem;
}
