@import (reference) '../../../../styling-variabler.less';

.brodsmulesti {
    &__home {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        margin-right: 1rem;
    }
    &__container {
        display: flex;
        align-items: center;
        @media @screen-mobile {
            width: 100%;
        }
    }
    &__view-all {
        border: 0;
    }
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        & > * {
            margin: 0.25rem 0.25rem 0.25rem 0;
        }
        .chevron--hoyre {
            color: #78706a;
            display: inline-block;
            margin: 0 0.5em;
        }
    }
}
