@use 'src/styling-variabler.scss' as sv;

.brodsmulesti {
    display: flex;

    @media #{sv.$screen-mobile} {
        width: 100%;
    }

    ol {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        & > * {
            margin: 0.25rem 0.25rem 0.25rem 0;
        }
    }
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    svg * {
        stroke: var(--a-gray-700);
        fill: var(--a-gray-700);
    }

    .iconHome {
        margin-right: 0.75rem;
        margin-top: 2px; // Visual imbalance fix
        stroke-width: 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:focus .iconHome {
        color: var(--a-gray-700);
    }
}

.text::first-letter {
    text-transform: uppercase;
}

.iconViewAll {
    border: 0;
    display: inline-flex;
    background-color: transparent;
    cursor: pointer;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    svg * {
        margin-top: 0;
    }
    &:focus {
        background-color: var(--a-border-focus);
        box-shadow: 0 0 0 2px var(--a-border-focus);
        color: var(--a-gray-700);
        outline: none;
        text-decoration: none;
        svg {
            color: white;
            stroke: white;
        }
        .iconEllipsis {
            color: white;
            text-decoration: none;
        }
    }
}

.iconNext {
    margin-top: 5px;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem;
}

.iconLongBreadCrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0 0 6px;
    stroke: var(--a-gray-700);
    color: var(--a-gray-700);

    .iconHome {
        margin-right: 0.75rem;
        margin-top: 2px; // Visual imbalance fix
        stroke-width: 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:focus .iconHome {
        color: var(--a-gray-700);
    }
}

.iconEllipsis {
    margin-left: -0.25rem;
    margin-right: 0.25rem;
    text-decoration: underline;
    color: var(--a-text-action);
}
