@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.mobil-arbeidsflate-valg {
    padding: 0;
    margin: 0;

    .bullet {
        color: black;
        &:not(:first-child) {
            &::before {
                content: ' • ';
                margin: 0 0.25em;
            }
        }
    }
    &__liste-element {
        padding-top: 1rem;
    }

    .lenke {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 90%;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            color: @navDypBla;
            box-shadow: none;
            background-color: white;
            outline: 3px solid @fokusFarge;
        }
    }
}
