@import '../../../../../../../styling-variabler.less';

.desktop-hovedmeny {
    @bunnseksjon-cols: 3;

    &__bunn-seksjon {
        display: flex;
        justify-content: flex-start;
        margin-top: 0.75rem;
        --num-cols: @bunnseksjon-cols;

        @media (max-height: @desktopLowHeightLimit),
            (max-width: @smallDesktopLimitWidth) {
            margin: 0;
        }
    }

    &__bunn-lenke-visning {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        height: 100%;

        .lenkepanel__heading {
            color: @navBla;
        }
    }

    &__bunn-lenke {
        .col-setup(@bunnseksjon-cols, 1rem);
        flex-grow: 1;
        border: 2px @navBla solid;

        &:hover {
            border: 2px @navBla solid;
            background-color: @navBla;

            .lenkepanel__indikator,
            .lenkepanel__heading,
            .desktop-hovedmeny__bunn-lenke-stikkord {
                color: white;
            }
        }

        .lenkepanel__indikator {
            color: @navBla;
        }

        @media (max-height: @desktopLowHeightLimit),
            (max-width: @smallDesktopLimitWidth) {
            padding: 0.5rem 0.75rem;
            margin-bottom: 4px;
        }
    }
}
