@import '../../../../../../../styling-variabler.less';

.desktop-hovedmeny {
    @bunnseksjon-margin: 2.5em;
    @bunnseksjon-cols: 3;

    &__bunn-separator {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        border-top: 1px solid @navGra60;
    }

    &__bunn-seksjon {
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
        --num-cols: @bunnseksjon-cols;
    }

    &__bunn-lenke {
        .col-setup(@bunnseksjon-cols, @bunnseksjon-margin);
        margin-bottom: 3px;
        border: 2px @navBla solid;

        &:hover {
            border: 2px @navBla solid;
        }

        .lenkepanel__indikator {
            color: @navBla;
        }
    }

    &__bunn-lenke-visning {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        height: 100%;

        .lenkepanel__heading {
            color: @navBla;
        }
    }

    &__bunn-lenke-stikkord {
        display: inline-block;
        list-style-type: disc;
        list-style-position: inside;
        margin: 0;
        padding: 0;
        color: black;

        li {
            display: inline-block;

            &:not(:first-of-type) {
                .bullet::before {
                    content: '•';
                    margin: 0 0.25em;
                }
            }
        }
    }
}
