@import '../../../../../../../styling-variabler.less';

.desktop-hovedmeny {
    @bunnseksjon-margin: 2.5em;
    @bunnseksjon-cols: 3;

    &__bunn-separator {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        border-top: 1px solid @navGra60;
    }

    &__bunn-seksjon {
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
        --num-cols: @bunnseksjon-cols;
    }

    &__bunn-lenke {
        .col-setup(@bunnseksjon-cols, @bunnseksjon-margin);
        border: 4px solid transparent;
        border-radius: 4px;
        min-height: 100%;
        width: 100%;
        padding: 4px;
        &:focus {
            box-shadow: 0 0 0 4px @fokusFarge;
            background-color: transparent;
            .desktop-hovedmeny__bunn-lenke-tekst {
                text-decoration: none;
            }
        }
    }

    &__bunn-lenke-visning {
        height: 100%;
        &:hover {
            .desktop-hovedmeny__bunn-lenke-stikkord {
                text-decoration: none;
                color: black;
            }

            .desktop-hovedmeny__bunn-lenke-tekst {
                text-decoration: none;
            }
        }
    }

    &__bunn-lenke-tekst {
        .lenke-stil();
    }

    &__bunn-lenke-stikkord {
        display: inline-block;
        list-style-type: disc;
        list-style-position: inside;
        margin: 0;
        padding: 0;
        color: black;

        li {
            display: inline-block;

            &:not(:first-of-type) {
                .bullet::before {
                    content: '•';
                    margin: 0 0.25em;
                }
            }
        }
    }
}
