@use 'src/styling-variabler' as sv;

.panel {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 1rem;
    background-color: var(--navds-global-color-lightblue-100) !important; //override navds
    border: 2px solid var(--navds-global-color-lightblue-500) !important; //override navds

    @media #{sv.$screen-mobile} {
        margin-bottom: 1rem;
    }
}

.ikon {
    flex-grow: 0;
    width: 3rem;
    height: 3rem;
    margin-right: 0.625rem;
    padding: 0.75rem 1rem;
    background-color: var(--navds-global-color-lightblue-300);
    border-radius: 1.5rem;

    svg {
        width: 1rem;
        g {
            fill: var(--navds-global-color-gray-800);
        }
    }
}

.msg {
    flex-grow: 1;
    max-width: 37.5rem;
}
