@import (reference) '../../../../../../../styling-variabler.less';

.varselbjelle-ikon {
    @main-color: @navds-global-color-blue-500;
    @transition-duration: 0.35s;
    @transition: all @transition-duration ease-in;
    @ulest-diameter: 12px;

    &__ulest-sirkel {
        position: absolute;
        z-index: 4;

        border-radius: 50%;
        height: @ulest-diameter;
        width: @ulest-diameter;
        left: 12px;
        top: 14px;

        @media @screen-mobile {
            left: 30px;
            top: 2px;
        }

        background-color: @navds-semantic-color-feedback-danger-icon;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: @transition;

        &--hide {
            visibility: hidden;
            transition: 0.2s all linear;
        }
    }
}
