@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.desktopmeny .varselbjelle,
.mobilmeny .varselbjelle {
    //position: relative;
    //width: 31px;

    .toggle-varsler-container {
        //display: inline-block;
        //height: 1.9375rem;
        //width: 1.9375rem;
        border: 1px solid transparent;
        //vertical-align: middle;

        .toggle-varsler {
            background: url('../../../../ikoner/varsler/alarm.svg') no-repeat
                center;
            background-size: 1.5rem 1.5rem;
            width: 100%;
            height: 100%;
            border: 2px solid transparent;
            padding: 0;
            margin: 0;

            &:hover {
                background-image: url('../../../../ikoner/varsler/alarm_hover.svg');
            }

            &:active {
                background-image: url('../../../../ikoner/varsler/alarm_active.svg');
            }

            &:focus {
                outline: 0;
                border: 2px solid @fokusFarge;
                border-radius: 4px;
            }

            .varsler-tekst {
                margin-left: 1.5rem;
                color: @navBla;
            }
        }

        &.har-nye-varsler .toggle-varsler {
            background-image: url('../../../../ikoner/varsler/alarm-nytt-varsel.svg');

            &:hover {
                background-image: url('../../../../ikoner/varsler/alarm-nytt-varsel_hover.svg');
            }

            &:active {
                background-image: url('../../../../ikoner/varsler/alarm-nytt-varsel_active.svg');
            }
        }
    }
}
