.partialno_tekst {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sendinn_knapp {
    width: auto;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}