.partialno-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.5em;
    width: 50%;

    .overskrift-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.5em;

        .kryssut-knapp {
            margin-left: auto;
        }
    }
}

.no-content {
    padding-top: 0.5em;
    justify-content: space-around;

    .checkbox-gruppe-overskrift {
        padding-bottom: 0.5em;
    }

    .submit-knapp {
        padding-top: 0.5em;
    }
}
