.partialno-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.5em;

    .overskrift-container {
        display: flex;
        flex-direction: row;

        .kryssut-knapp {
            margin-left: auto;
        }
    }
}

.content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.submit-knapp {
    padding-top: 1em;
}
