@import '~nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

.desktopmeny {
    width: 100%;
    padding: 0.5rem 0 1rem;
    border-bottom: 2px solid @navBla;

    &__content {
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    &__elementer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__nav-brand {
        order: 1;
    }

    .minside-lenke {
        order: 4;
    }
    .varselbjelle {
        order: 5;
    }

    .login-container {
        order: 3;
    }

    .sok {
        order: 6;
        width: 100%;
    }

    .meny {
        &__menyknapp {
            order: 2;
            width: 30%;
        }

        &--alternativ-samisk {
            color: @navBla;
        }

        &__meny-wrapper {
            order: 7;
            width: 100%;
        }
    }

    @media (min-width: @tabletLimitWidth) {
        &__elementer {
            justify-content: space-around;
        }

        &__nav-brand {
            order: 1;
            width: auto;
        }

        .meny {
            &__menyknapp,
            &--alternativ-samisk {
                order: 2;
                width: auto;
            }

            &__meny-wrapper {
                order: 4;
                width: 100%;
            }
        }

        .sok {
            order: 3;
            width: auto;
            max-height: 40px;
        }

        .login-container {
            width: auto;
            max-height: 40px;
        }

        .varselbjelle {
            order: 3;
            width: auto;
            max-height: 40px;
            display: flex;
            align-items: center;
        }
    }

    @media (min-width: @desktopLimitWidth) {
        &__elementer {
            justify-content: space-between;
        }

        &__content {
            width: @desktopLimitWidth;
        }

        .minside-lenke {
            order: 3;
            width: 102px;
            max-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
