@import '~nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

.desktopmeny {
    width: 100%;
    padding: 0.5rem 0 1rem;
    border-bottom: 2px solid @navBla;
    @margin-mellom: 2rem;
    @margin-mellom-sm: 0.5rem;

    .margin-left-section() {
        margin-left: @margin-mellom;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-left: @margin-mellom-sm;
        }
    }

    .margin-right-section() {
        margin-right: @margin-mellom;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-right: @margin-mellom-sm;
        }
    }

    &__content {
        width: 100%;
        margin: 0 auto;
    }

    &__elementer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    &__nav-brand {
        order: 1;
        margin-left: @margins-sides-desktop;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-left: @margins-sides-desktop-small;
        }

        &:focus {
            outline: 3px solid @fokusFarge;
        }
        svg {
            &:focus {
                outline: 0;
            }
        }
    }

    .desktop-hovedmeny__knapp {
        order: 2;
        .margin-left-section();
    }

    .desktop-sok-dropdown__knapp {
        order: 3;
        max-height: @maxheight-menuitem;
        .margin-left-section();
    }

    &__spacer {
        order: 4;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .varselbjelle {
        order: 5;
        .margin-right-section();
        max-height: @maxheight-menuitem;
    }

    .desktop-minside-meny__knapp {
        order: 6;
        .margin-right-section();
        max-height: @maxheight-menuitem;
    }

    .login-container {
        order: 7;
        max-height: @maxheight-menuitem;
        margin-right: @margins-sides-desktop;
        @media (max-width: @smallDesktopLimitWidth) {
            margin-right: @margins-sides-desktop-small;
        }
    }

    .ekspanderbar__container {
        order: 8;
        width: 100%;
    }

    @media (min-width: @desktopLimitWidth) {
        &__content {
            width: @desktopLimitWidth;
        }
    }
}
