@import '~nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

.desktopmeny {
    width: 100%;
    padding: 0.5rem 0 1rem;
    border-bottom: 2px solid @navBla;

    &__content {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    &__elementer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    &__nav-brand {
        order: 1;
        width: auto;

        &:focus {
            outline: 3px solid @fokusFarge;
        }
        svg {
            &:focus {
                outline: 0;
            }
        }
    }

    .hovedmeny-desktop__menyknapp {
        order: 2;
        width: auto;
    }

    .sok {
        order: 3;
        width: auto;
        max-height: @maxheight-menuitem;
    }

    .minsidelenke-varselbjelle {
        display: none;
    }

    .login-container {
        order: 3;
        width: auto;
        max-height: @maxheight-menuitem;
    }

    .dropdown-container {
        order: 4;
        width: 100%;
    }

    @media (min-width: @desktopLimitWidth) {
        &__content {
            width: @desktopLimitWidth;
        }

        .minsidelenke-varselbjelle {
            min-width: 9.375rem;
            order: 3;
            .minside-lenke {
                width: 6.375rem;
                max-height: @maxheight-menuitem;
                display: inline-block;
            }

            .varselbjelle {
                margin-left: 1rem;
                width: auto;
                max-height: @maxheight-menuitem;
                display: inline-block;
            }
        }
    }
}
