@import '~nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

.desktopmeny {
    width: 100%;
    padding: 0.5rem 0 1rem;
    border-bottom: 2px solid @navBla;

    &__content {
        width: 100%;
        margin: 0 auto;
    }

    &__elementer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    &__nav-brand {
        margin-left: @margins-sides;
        order: 1;

        &:focus {
            outline: 3px solid @fokusFarge;
        }
        svg {
            &:focus {
                outline: 0;
            }
        }
    }

    .hovedmeny-desktop__menyknapp {
        order: 2;
        margin-left: 2rem;
    }

    .sok-dropdown__menyknapp {
        order: 3;
        max-height: @maxheight-menuitem;
        margin-left: 2rem;
    }

    &__spacer {
        order: 4;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .varselbjelle {
        order: 5;
        max-height: @maxheight-menuitem;
        //display: inline-block;
    }

    .minside-lenke {
        order: 6;
        margin: 0 2rem;
        max-height: @maxheight-menuitem;
    }

    .login-container {
        margin-right: @margins-sides;
        order: 7;
        max-height: @maxheight-menuitem;
    }

    .dropdown-container {
        order: 8;
        width: 100%;
    }

    @media (min-width: @desktopLimitWidth) {
        &__content {
            width: @desktopLimitWidth;
        }
    }
}
