@import '../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../styling-variabler.less';

@mobileview: 80%;

.mobilmeny {
    &__content {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }

    &__elementer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__venstre-kolonne {
        padding-left: 0.5rem;
    }

    &__hoyre-kolonne {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 0.5rem;
        flex-wrap: wrap;
    }

    &__sok {
        margin-left: 3px;
        text-decoration: none;
        color: black;
        background-color: white;
        border: none;
        padding: 0.4rem 0.7rem 0.4rem 0.7rem;
        order: 2;

        &:hover {
            outline: 1px black solid;
        }
    }

    .login-container {
        order: 3;
    }

    &__meny-wrapper {
        order: 4;
        width: 100%;
    }
}
