
.lenke-stil() {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.lenkeseksjon {
    margin-bottom: 2rem;

    &__tittel {
        margin-bottom: 0.5em;
    }

    &__lenker {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 0.5rem;

            .lenke {
                .lenke-stil();
            }
        }
    }
}
