@import (reference) '../../../../../../../styling-variabler.less';

.slideToClose {
    &__content {
        height: 100%;
        position: relative;
        transition: left 0.25s ease-in-out;
    }

    &__message {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100px;
        color: white;
        z-index: 1004;
        display: flex;
        justify-content: center;
        align-items: center;

        @media @screen-desktop {
            display: none;
        }
    }
}
