@import (reference) '../../../../../styling-variabler.less';
@import (reference) '../ekspanderbar-meny/EkspanderbarMeny';

.desktop-varsler-dropdown {
    @dropdown-width: 525px;

    &__innhold-wrapper {
        right: 375px;
        max-width: 150px;
        transition-property: @ekspanderbar-transition-props, max-width, right;

        &--aktive {
            max-width: @dropdown-width;
            right: 0;
        }
    }

    &__innhold {
        width: @dropdown-width;
        padding: 1.5rem 2rem 2rem 2rem;
    }
}

.varselbjelle {
    &__knapp:hover:not(:focus) {
        .varselbjelle-ikon__bjelle:not(.varselbjelle-ikon__bjelle--open) {
            animation-duration: 0.25s;
            animation-name: ring-bjelle;
        }
    }

    &__tekst {
        font-weight: bold;
    }

    @keyframes ring-bjelle {
        @theta: 15deg;

        30% {
            transform: rotate(@theta);
        }

        55% {
            transform: rotate(-@theta);
        }
    }
}
