@import (reference) '../../../../../../../../styling-variabler.less';

.mobil-arbeidsflate-valg {
    padding: 0;
    margin-top: 0;

    li:not(:last-child) {
        margin-bottom: 1rem;
    }

    .arbeidsflate-lenkepanel {
        width: 100%;
    }
}
