@import (reference) '../../../../styling-variabler.less';

.menylinje-topp {
    background-color: @navds-global-color-deepblue-800;

    .topp-kontainer {
        color: white;
        padding-top: 1.5rem;
        padding-bottom: 1.75rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .lenke {
            color: white;
            padding: 0.5rem 0;
            @media @screen-mobile {
                padding: 0.25rem 0;
            }
        }

        .lenke:focus {
            color: @navds-global-color-blue-500;
            background-color: white;
        }

        ul {
            margin: 0;
        }

        .til-toppen-innhold {
            display: flex;
            justify-content: start;
            margin-bottom: 2.25rem;

            @media @screen-mobile {
                margin-bottom: 1.75rem;
            }

            .lenke-med-ikon {
                width: 100%;
                text-decoration: underline;
                color: white;
                font-size: 1.25rem;

                svg {
                    color: white;
                    fill: white;
                    stroke: white;
                }
                &__ikon {
                    display: flex;
                    align-items: center;
                    margin: 0;
                }
                &:focus {
                    svg {
                        fill: white;
                        stroke: white;
                        color: white;
                    }
                }
            }
        }

        .topp-kolonner {
            .menylenker-seksjon {
                margin-bottom: 2.25rem;
            }

            .menylenker-overskrift {
                font-weight: bolder;
                margin-bottom: 0.5rem;
            }
        }

        @media @screen-desktop {
            padding-top: 2.75rem;
            padding-bottom: 1.75rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            .topp-kolonner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        @media @screen-desktop-large-up {
            padding-left: 0;
            padding-right: 0;
            width: 1344px;
            margin: 0 auto;
        }
    }
}
