@use 'src/styling-variabler' as sv;

.menylinjeTopp {
    background-color: var(--a-deepblue-800);
}

.toppKontainer {
    color: var(--a-text-on-inverted);
    padding-top: var(--a-spacing-6, 1.5rem);
    padding-bottom: var(--a-spcaing-7, 1.75rem);
    padding-left: var(--a-spacing-4, 1rem);
    padding-right: var(--a-spacing-4, 1rem);

    :global(.globalLenkeFooter) {
        display: flex;
        color: var(--a-text-on-inverted);
        padding: var(--a-spacing-2) 0;
        text-decoration-color: var(--a-deepblue-200);
        text-decoration-thickness: 0.05em;
        text-underline-offset: 0.15em;

        @media #{sv.$screen-mobile} {
            padding: var(--a-spacing-1) 0;
        }

        svg {
            stroke: var(--a-icon-on-inverted);
            color: var(--a-icon-on-inverted);
        }

        &:focus {
            color: var(--a-text-action);
            background-color: var(--a-surface-default);

            svg {
                stroke: var(--a-icon-action);
                color: var(--a-icon-action);
            }
        }
    }

    ul {
        margin: 0;
    }

    @media #{sv.$screen-desktop} {
        padding-top: var(--a-spacing-11, 2.75rem);
        padding-bottom: var(--a-spacing-7, 1.75rem);
        padding-left: var(--a-spacing-6, 1.5rem);
        padding-right: var(--a-spacing-6, 1.5rem);

        .toppKolonner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @media #{sv.$screen-desktop-large-up} {
        padding-left: 0;
        padding-right: 0;
        width: 1344px;
        margin: 0 auto;
    }
}

.tilToppen {
    display: flex;
    justify-content: start;
    margin-bottom: var(--a-spacing-9, 2.25rem);

    :global(.globalLenkeFooter) {
        font-size: 1.25rem;
        padding: var(--a-spacing-4, 1rem) var(--a-spacing-4, 1rem) var(--a-spacing-4, 1rem) 0;

        svg {
            margin-right: var(--a-spacing-2, 0.5rem);
        }
    }

    @media #{sv.$screen-mobile} {
        margin-bottom: var(--a-spacing-7, 1.75rem);
    }
}

.toppKolonner {
    column-gap: var(--a-spacing-8, 2rem);
    :global(.menylenker-seksjon) {
        margin-bottom: var(--a-spacing-9, 2.25rem);
    }
    :global(.menylenker-overskrift) {
        letter-spacing: 0.15em;
        margin-bottom: 0.5rem;
        color: var(--a-deepblue-200);
    }
}
