@import '../../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../styling-variabler.less';

.menylinje-topp {
    padding: 1rem;
    color: white;
    background-color: @navBlaDarken40;

    .lenke:focus {
        color: @navBla;
        background-color: white;
    }

    .topp-kolonner {
        .menylenker-seksjon .menylenker-overskrift {
            font-weight: bolder;
            margin-bottom: 1.2rem;
        }

        .menylenker-seksjon.til-toppen {
            margin-bottom: 2rem;
            padding-left: 1.2rem;

            .til-toppen-innhold {
                display: flex;
                justify-content: center;
                width: 100px;

                .footer-pil-opp {
                    display: flex;
                    height: 18px;
                    margin-left: -14px;
                    margin-right: 0.4rem;
                }

                .lenke {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .menylenker-seksjon.venstre,
        .menylenker-seksjon.midt,
        .menylenker-seksjon.hoyre {
            padding-left: 1.2rem;
        }
    }

    ul {
        margin-top: 0.8rem;
        margin-bottom: 2.5rem;
    }

    li {
        margin-bottom: 1.3rem;
    }

    .lenke {
        color: white;
    }

    @media (min-width: @tabletLimitWidth) {
        padding: 1rem 2rem;

        .topp-kolonner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .menylenker-seksjon.til-toppen {
                width: 100%;
                margin-bottom: 2rem;
                padding-left: 0;
            }

            .menylenker-seksjon.venstre {
                width: 31%;
                padding-left: 0;
            }
            .menylenker-seksjon.midt,
            .menylenker-seksjon.hoyre {
                width: 31%;
                padding-left: 2rem;
            }

            .menylenker-seksjon.arbeidsflate {
                margin-top: 3rem;
            }
        }
    }

    @media (min-width: @smallDesktopLimitWidth) {
        padding: 1.5rem 2rem;

        .topp-kolonner {
            .menylenker-seksjon.til-toppen {
                padding-left: 0;
                width: 100%;
            }

            .menylenker-seksjon.venstre {
                width: 24%;
            }

            .menylenker-seksjon.midt,
            .menylenker-seksjon.hoyre {
                width: 23%;
                padding-left: 0;
            }

            .menylenker-seksjon.arbeidsflate {
                width: 29%;
                margin-top: 0;
            }

            .arbeidsflatevalg-innhold {
                .arbeidsflatevalg {
                    flex-direction: column;

                    li {
                        width: auto;
                    }
                }
            }
        }
    }

    @media (min-width: 1300px) {
        padding: 1.5rem 2rem;

        .topp-kolonner {
            .menylenker-seksjon.til-toppen {
                width: 15%;
                margin-bottom: 0;
            }

            .menylenker-seksjon.venstre,
            .menylenker-seksjon.midt,
            .menylenker-seksjon.hoyre {
                width: 20%;
            }

            .menylenker-seksjon.arbeidsflate {
                width: 24%;
                margin-top: 0;
            }

            .arbeidsflatevalg-innhold {
                margin-bottom: 0;

                .arbeidsflatevalg {
                    flex-direction: column;
                    justify-content: left;

                    li {
                        width: auto;
                    }
                }
            }
        }
    }

    @media (min-width: @desktopLimitWidth) {
        padding: 1.5rem 0;

        .topp-kolonner {
            width: 1344px;
            margin: 0 auto;
        }
    }
}
