@use 'src/styling-variabler' as sv;

.menylinjeTopp {
    background-color: var(--navds-global-color-deepblue-800);
}

.toppKontainer {
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    :global(.globalLenkeFooter) {
        display: flex;
        color: white;
        padding: 0.5rem 0;

        @media #{sv.$screen-mobile} {
            padding: 0.25rem 0;
        }

        svg {
            stroke: white;
            color: white;
        }

        &:focus {
            color: var(--navds-global-color-blue-500);
            background-color: white;

            svg {
                stroke: var(--navds-global-color-blue-500);
                color: var(--navds-global-color-blue-500);
            }
        }
    }

    ul {
        margin: 0;
    }

    @media #{sv.$screen-desktop} {
        padding-top: 2.75rem;
        padding-bottom: 1.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .toppKolonner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @media #{sv.$screen-desktop-large-up} {
        padding-left: 0;
        padding-right: 0;
        width: 1344px;
        margin: 0 auto;
    }
}

.tilToppen {
    display: flex;
    justify-content: start;
    margin-bottom: 2.25rem;

    @media #{sv.$screen-mobile} {
        margin-bottom: 1.75rem;
    }
}

.toppKolonner {
    column-gap: 2rem;
    :global(.menylenker-seksjon) {
        margin-bottom: 2.25rem;
    }
    :global(.menylenker-overskrift) {
        font-weight: bolder;
        margin-bottom: 0.5rem;
    }
}
