@import (reference) '../../../../styling-variabler.less';

.alternativ-nei-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .overskrift-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.5em;
        align-items: center;

        .kryssut-knapp {
            margin-left: auto;
        }
    }

    .alternativ-nei-container {
        display: flex;
        justify-content: space-between;

        .sub-overskrift {
            padding-bottom: 0.5em;
        }

        .knapper {
            display: flex;
            margin-top: 0.5em;

            @media @media-query-desktop {
                flex-wrap: nowrap;
                flex-direction: row;
            }

            @media @media-query-mobile {
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
            }

            .send-inn {
                padding-right: 0.25em;

                @media @media-query-mobile {
                    padding-bottom: 0.25em;
                }

                .reset-knapp {
                    transform: none;
                    box-shadow: none;
                }
            }
        }
    }
}
