@import (reference) '../../../../../../styling-variabler.less';
@import (reference) '../ekspanderbar-meny/EkspanderbarMeny';

.desktop-hovedmeny {
    &__innhold-wrapper {
        left: 150px;
        max-width: 150px;
        transition-property: @ekspanderbar-transition-props, max-width, left;

        &--aktive {
            max-width: 100%;
            left: 0;
        }
    }
}
