@import '../node_modules/nav-frontend-core/less/core';

@desktopLimitWidth: 1024px;

.innhold-container {
    width: @desktopLimitWidth;
    margin: 0 auto;
    padding: 0.7rem 0 0.3rem 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.divider {
    color: red;
    border-bottom: 2px solid;
    margin: 1em 0;
}
