@import '../node_modules/nav-frontend-core/less/core';
@import './styling-variabler.less';

body {
    overflow-y: scroll;
}

.hodefot .innhold-container {
    width: 100%;
}

.siteheader,
.sitefooter {
    font-family: 'Source Sans Pro', Arial, sans-serif;

    ul {
        list-style: none;
    }
}

.sitefooter ul,
.siteheader .desktopmeny ul,
.siteheader .arbeidsflate ul {
    padding: 0;
}

@media (min-width: @desktopLimitWidth) {
    .hodefot .innhold-container {
        width: auto;
    }
}
