@use './styling-variabler.scss' as sv;

body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

body.no-scroll-mobil {
    @media #{sv.$screen-mobile} {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

#top-element {
    width: 0;
    height: 0;
}

.siteheader,
.sitefooter {
    color: initial;
    background-color: white;
    line-height: normal;
}

.siteheader {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.header-z-wrapper {
    z-index: 1000;
    position: relative;
    background-color: white;
}

.arbeidsflate {
    @media (max-width: 1200px) {
        display: none;
    }
}

.siteheader,
.sitefooter {
    width: 100%;

    ul {
        list-style: none;
    }
}

.sitefooter ul,
.siteheader .arbeidsflate ul {
    padding: 0;
}

.sideheader .header-linje ul {
    @media #{sv.$screen-desktop} {
        padding: 0;
    }
}

.media-sm-mobil {
    display: initial !important;
}

.media-tablet-desktop {
    display: none !important;
}

.decorator-wrapper {
    box-sizing: border-box;
}

@media #{sv.$screen-desktop} {
    .media-sm-mobil {
        display: none !important;
    }

    .media-tablet-desktop {
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            display: inline !important;
        }
        display: initial !important;
    }
}
