@import '../node_modules/nav-frontend-core/less/core';

@desktopLimitWidth: 960px;

.innhold-container {
    width: @desktopLimitWidth;
    margin: 0 auto;
}

.divider {
    color: red;
    border-bottom: 2px solid;
    margin: 1em 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}