@import (reference) '~nav-frontend-core/less/core';
@import (reference) '~nav-frontend-lenker-style/src/lenker-style';

//desktop breakpoint width
@desktopLimitWidth: 1440px;
@smallDesktopLimitWidth: 1024px;

//tablet breakpoint width
@tabletLimitWidth: 768px;

//minimun mobile support-width (used to remove padding etc on screen-size below)
@minimumMobilWidth: 330px;

//slide-out menu common-width
@mobilemenuwidth: 80%;

//set common max-heigh for buttons and form-elements, to easily align-items on row.
@maxheight-menuitem: 40px;

@margins-sides-desktop: 3rem;
@margins-sides-desktop-small: 1rem;

.col-setup(@cols, @margins) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(percentage(1 / (@cols + 1)) + 1px);
    max-width: calc(percentage(1 / @cols) - (@margins - @margins / @cols));

    &:not(:nth-child(@{cols}n)) {
        margin-right: @margins;
    }
}

.lenke-stil() {
    .lenke;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
