@import '~nav-frontend-core/less/core';
@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '~nav-frontend-lenker-style/src/lenker-style';
@import (reference) '~nav-frontend-typografi-style/src/index';
@import (reference) '~nav-frontend-knapper-style/src/index';

//desktop breakpoints
@desktopMaxWidth: 1440px;
@desktopMinWidth: 768px;

@smallDesktopLimitWidth: 1024px;
@smallDesktopLimitHeight: 900px;

//minimun mobile support-width (used to remove padding etc on screen-size below)
@minimumMobilWidth: 330px;

//slide-out menu common-width
@mobilemenuwidth: 100%;

@margins-sides-desktop: 3rem;
@margins-sides-desktop-small: 1rem;

@header-separator-farge: @navGra20;

.flex-col-width-mixin(@cols, @margins) {
    max-width: calc(percentage(1 / @cols) - (@margins - @margins / @cols));
    flex-basis: 100%;
    &:not(:nth-child(@{cols}n)) {
        margin-right: @margins;
    }
}

.lenke-stil-mixin() {
    .lenke;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.header-knapp-focus-mixin() {
    &:focus {
        background-color: transparent;
        color: @navBla;
        outline: none;
        box-shadow: 0 0 0 4px @fokusFarge;
        border-radius: 4px;
        border-color: transparent;
    }
}
