//desktop breakpoint
@desktopLimitWidth: 1024px;

//minimun mobile support-width (used to remove padding etc on screen-size below)
@minimumMobilWith: 330px;

//slide-out menu common-width
@mobileview: 80%;
