// screen size breakpoints
$desktopMaxWidth: 1440px;
$smallDesktopMaxWidth: 1024px;
$desktopMinWidth: 768px;
$smallMobileMaxWidth: 340px;
$smallDesktopMaxHeight: 880px;

// screen size media queries
$screen-desktop: '(min-width: #{$desktopMinWidth})';
$screen-desktop-small-down: '(max-height: #{$smallDesktopMaxHeight}), (max-width: #{$smallDesktopMaxWidth})';
$screen-desktop-small-width-down: '(max-width: #{$smallDesktopMaxWidth})';
$screen-desktop-medium-down: '(max-width: #{$desktopMaxWidth})';
$screen-desktop-medium-up: '(min-width: #{$smallDesktopMaxWidth})';
$screen-desktop-large-up: '(min-width: #{$desktopMaxWidth})';
$screen-mobile: 'not all and (min-width: #{$desktopMinWidth})';
$screen-mobile-small-down: '(max-width: #{$smallMobileMaxWidth})';

$margins-sides-desktop: 3rem;
$margins-sides-desktop-small: 1rem;
$margins-sides-mobil: 1rem;
$margins-sides-footer: 2rem;
$margins-sides-footer-small: 1rem;

$header-height-desktop: 80px;
$header-height-mobil: 72px;

$header-height-simple-desktop: 78px;
$header-height-simple-mobile: 66px;

$header-separator-farge: var(--a-gray-300);
$header-separator-height: 1px;

