@import (reference) '../../../../styling-variabler.less';

.rapporter-om-feil-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .overskrift-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.5em;
        align-items: center;
    }

    .alternativ-feil-mangler-container {
        display: flex;
        justify-content: space-between;

        .sub-overskrift {
            padding-bottom: 0.5em;
        }

        .knapper {
            display: flex;
            margin-top: 0.5em;

            @media (min-width: @desktopMinWidth) {
                flex-wrap: nowrap;
                flex-direction: row;
            }

            @media (max-width: @mobilMaxWidth) {
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
            }

            .send-inn {
                padding-right: 0.25em;

                @media (max-width: @mobilMaxWidth) {
                    padding-bottom: 0.25em;
                }

                .reset-knapp {
                    transform: none;
                    box-shadow: none;
                }
            }
        }
    }
}
