@import (reference) '../../../../styling-variabler.less';

.rapporter-om-feil-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .overskrift-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.5em;
        align-items: center;
    }

    .alternativ-feil-mangler-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .sub-overskrift {
            padding-bottom: 0.5em;
        }

        .knapper {
            display: flex;
            padding-top: 0.5em;
            flex-wrap: wrap;
            margin-top: 0.5em;

            .send-inn {
                padding-right: 0.25em;

                @media (max-width: @mobilMaxWidth) {
                    padding-bottom: 0.25em;
                }

                .reset-knapp {
                    transform: none;
                    box-shadow: none;
                }
            }
        }
    }
}
