@import '~nav-frontend-core/less/_variabler';

@desktopLimitWidth: 1024px;

.meny-button {
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    padding: 0;

    &:focus {
        text-decoration: none;
        background-color: initial;
        box-shadow: none;
        color: black;
    }

    &:hover {
        background-color: white;
    }

    &:focus {
        outline: none;
        border: @navDypBla 3px solid;
        border-radius: 4px;
    }

    .button-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.4rem 0.7rem;
        width: fit-content;

        &:hover {
            border: 1px black solid;
            background-color: white;
            cursor: pointer;
        }

        .hamburger-ikon {
            margin-right: 0.5rem;
        }
    }
}
.hovedmeny__dropdown-menu {
    position: relative;
    bottom: 0;
    width: 100%;
    // flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .hovedmeny__menyvalg {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        overflow: hidden;
        transition: max-height 0.7s;
        max-height: 0;
        max-width: @desktopLimitWidth;

        &--active {
            margin-bottom: 2.5rem;
            max-height: 40rem;
        }

        .hovedmeny__hovedSeksjon {
            flex-grow: 6;
            display:-ms-grid;
            display: grid;
            -ms-grid-columns: auto auto auto;
            grid-template-columns: auto auto auto;
            background-color: white;
            margin-bottom: 0.2rem;

            a {
                text-decoration: none;
                color: black;
                cursor: pointer;
            }

            a:hover {
                text-decoration: underline;
            }

            li {
                list-style-type: initial;
            }

            .hovedmeny__seksjon {
                padding-left: 2rem;
                padding-top: 0.75rem;
                padding-bottom: 0.5rem;
            }
        }

        .hovedmeny__minSideSeksjon {
            flex-grow: 1;
            display:-ms-grid;
            display: grid;
            -ms-grid-columns: auto;
            grid-template-columns: auto;
            margin-left: 0.5rem;
            margin-bottom: 0.2rem;
            background-color: white;
            padding-top: 0.75rem;
            padding-bottom: 0.5rem;
            min-width: 8rem;
            padding-left: 1.5rem;

            a {
                color: black;

                &:active {
                    color: black;
                    font-weight: bold;
                }
            }

            a:hover {
                text-decoration: underline;
            }

            p {
                max-width: 12rem;
            }


            .hovedmeny__minside-list-item {
                padding: 0.125rem 0 0.125rem 0;
            }

            .hovedmeny__til-minside-lenke {
                list-style-type: none;
                margin-left: -0.375rem;
                padding-top: 1.25rem;

                .hovedmeny__minside-lenke {
                    text-decoration: none;
                }
            }
        }
    }
}
