@import '~nav-frontend-core/less/_variabler';

.meny-button {
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    padding: 0;

    &:focus {
        text-decoration: none;
        background-color: initial;
        box-shadow: none;
        color: black;
    }

    &:hover {
        background-color: white;
    }

    &:focus {
        outline: none;
        border: @navDypBla 3px solid;
        border-radius: 4px;
    }

    .button-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.4rem 0.7rem;
        width: fit-content;

        &:hover {
            border: 1px black solid;
            background-color: white;
            cursor: pointer;
        }

        .hamburger-ikon {
            margin-right: 0.5rem;
        }
    }
}