.beskjed {
    display: flex;
    flex-direction: row;
    background-color: var(--a-surface-default);
    border-radius: var(--a-border-radius-large);
    margin-bottom: 8px;
    width: 444px;
    border: solid 1px var(--a-border-subtle);

    @media (max-width: 476px) {
        width: 100%;
    }

    .tittel {
        font-size: 18px;
        color: var(--a-text-default);
    }

    .contentWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .dato {
        font-size: 16px;
        color: var(--a-gray-600);
    }

    .metadataOgKnapp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 12px;
    }

    .tittelOgDato {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}

.arkiverbar {

    .tittel {
        font-weight: normal;
        padding-bottom: 5px;
    }

    .contentWrapper {
        flex-direction: column;
        padding: 1rem;
    }

    .metadataOgKnapp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 12px;
    }
}

.ikkeArkiverbar {
    text-decoration: none;
    transition: background-color 0.1s linear;

    &:hover {
        cursor: pointer;
        background-color: var(--a-surface-hover);

        .chevron {
            transition-duration: 0.2s;
            transform: translate(3px, 0);
        }
    }

    .tittel {
        font-weight: bolder;
    }
}

.oppgave {
    &:hover {
        background-color: var(--a-surface-hover)
    }
}

.chevron {
    color: var(--a-icon-subtle);
    width: 21px;
    min-width: 21px;
    height: 21px;
}

.varselTag {
    border: none !important;
}

.ikonOgTag {
    display: flex;
    column-gap: 8px;
}
