@import '../../../styling-variabler.less';

.nav-logo-lenke {
    display: flex;

    &:focus {
        box-shadow: 0 0 0 4px @navds-semantic-color-focus inset;
        border-radius: 8px;
        outline: none;
        border-color: transparent;
        background-color: transparent;
    }
}
