@import '../../../styling-variabler.less';

.nav-logo-lenke {
    display: flex;
    justify-content: center;
    align-items: center;

    // Browser compatibility hack
    .nav-logo-container {
        width: 100%;
        height: 0;
        padding-top: (169 / 269) * 100%;
        position: relative;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover {
        svg {
            transform: scale(1.05);
        }
    }

    &:focus {
        box-shadow: 0 0 0 4px @fokusFarge inset;
        border-radius: 8px;
        outline: none;
        border-color: transparent;
    }
}
