@import '../../../styling-variabler.less';

.nav-logo-lenke {
    display: flex;

    img {
        height: 49px;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    &:focus {
        box-shadow: 0 0 0 4px @navds-semantic-color-focus inset;
        border-radius: 8px;
        outline: none;
        border-color: transparent;
        background-color: transparent;
    }
}
