@use 'src/styling-variabler.scss' as sv;

$lenkeseksjoner-cols: 3;
$lenkeseksjoner-margin: 1.5rem;

:global(.desktop-minside-meny) {
    left: auto;
    right: 0;
    width: #{sv.$smallDesktopMaxWidth};

    @media #{sv.$screen-desktop-small-width-down} {
        width: 100%;
    }
}

.lenkeSeksjoner {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
}

.lenkeseksjon {
    flex-grow: 1;
    @include sv.flex-col-width-mixin($lenkeseksjoner-cols, $lenkeseksjoner-margin);
}

.toppSeksjon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin: 0 -#{sv.$margins-sides-desktop} 2rem -#{sv.$margins-sides-desktop};
    padding: 0 #{sv.$margins-sides-desktop};
}

.toppSeksjonRight {
    text-align: right;
}

.brukernavn {
    text-transform: capitalize;
}

.toppSeksjonTittel {
    margin-bottom: 0.15em;
}
