@import (reference) '../../../../../styling-variabler.less';

.desktop-minside-meny {
    @lenkeseksjoner-cols: 3;
    @lenkeseksjoner-margin: 1.5rem;

    left: auto;
    right: 0;
    width: @smallDesktopMaxWidth;
    @media @screen-desktop-small-width-down {
        width: 100%;
    }

    &__knapp-tekst {
        text-align: left;
    }

    &__knapp-tekst-topp {
        font-weight: bold;
    }

    &__knapp-tekst-bunn {
        margin-top: -0.25em;
        overflow-x: hidden;
        white-space: nowrap;
    }

    &__lenke-seksjoner {
        display: flex;
        justify-content: flex-start;

        .lenkeseksjon {
            flex-grow: 1;
            .flex-col-width-mixin(@lenkeseksjoner-cols, @lenkeseksjoner-margin);
        }
    }

    &__topp-seksjon {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin: 0 -@margins-sides-desktop 2rem -@margins-sides-desktop;
        padding: 0 @margins-sides-desktop;
    }

    &__topp-seksjon-right {
        text-align: right;
    }

    &__brukernavn {
        text-transform: capitalize;
    }

    &__topp-seksjon-tittel {
        margin-bottom: 0.15em;
    }
}
