@import (reference) '../../../../../styling-variabler.less';

.desktop-minside-meny {
    @lenkeseksjoner-cols: 3;
    @lenkeseksjoner-margin: 1.5rem;

    .ekspanderbar {
        &__innhold-wrapper {
            right: 0;
            max-width: @smallDesktopLimitWidth;
        }

        &__innhold {
            max-width: @smallDesktopLimitWidth;
        }
    }

    &__knapp-tekst {
        text-align: left;
    }

    &__knapp-tekst-topp {
        font-weight: bold;
    }

    &__knapp-tekst-bunn {
        margin-top: -0.25em;
        overflow-x: hidden;
        white-space: nowrap;
    }

    &__lenke-seksjoner {
        display: flex;
        justify-content: flex-start;

        .lenkeseksjon {
            flex-grow: 1;
            .flex-col-width-mixin(@lenkeseksjoner-cols, @lenkeseksjoner-margin);
        }
    }

    &__topp-seksjon {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin: 0 -@margins-sides-desktop 2rem -@margins-sides-desktop;
        padding: 0 @margins-sides-desktop;
    }

    &__topp-seksjon-right {
        text-align: right;
    }

    &__brukernavn {
        text-transform: capitalize;
    }

    &__topp-seksjon-lenke {
        .lenke-stil-mixin();
    }

    &__topp-seksjon-tittel {
        margin-bottom: 0.15em;
    }

    &__lock-msg-container {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 1.5rem;
        margin-top: -1.5rem;
    }

    &__lock-msg-alert {
        width: 100%;
        margin-bottom: -0.5rem;
    }
}
