@import (reference) '~nav-frontend-core/less/core';

@width: 32px;
@height: 24px;
@line-spacing: 8px;
@line-height: 3px;

.hamburger-knapp-linje() {
  width: @width;
  height: @line-height;
  background-color: @navBla;
  position: absolute;
}

.hamburger-knapp-container {
  width: @width;
  height: @height;
  padding: 0;
  position: relative;
}

.hamburger-knapp {
  .hamburger-knapp-linje();
  top: @height/2 - @line-height/2;
  left: 0;

  &--open {
    visibility: hidden;
    &::before {
      visibility: visible;
    }
    &::after {
      visibility: visible;
    }
  }

  &::before {
    .hamburger-knapp-linje();
    content: '';
    bottom: @line-spacing;
    left: 0;
  }

  &::after {
    .hamburger-knapp-linje();
    content: '';
    top: @line-spacing;
    left: 0;
  }
}
