
name: Build and deploy to nais
on:
  workflow_call:
    inputs:
      BUILD_MODE:
        required: true
        type: string
      NAIS_VARS:
        required: true
        type: string
      IMAGE_NAME:
        required: true
        type: string
      CLUSTER:
        required: true
        type: string

jobs:
  build_and_deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    env:
      image: ghcr.io/${{ github.repository }}:${{ inputs.IMAGE_NAME }}-${{ github.sha }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: 'https://npm.pkg.github.com'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Run tests
        run: npm test
      - name: Build application
        run: npm run build-${{ inputs.BUILD_MODE }}
      - name: Login to Docker registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push docker image
        run: |
          docker build -t ${{ env.image }} .
          docker push ${{ env.image }}
      - uses: nais/deploy/actions/deploy@master
        env:
          CLUSTER: ${{ inputs.CLUSTER }}
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          RESOURCE: .nais/config.yaml
          VAR: image=${{ env.image }},BUILD_ID=${{ github.sha }}
          VARS: ${{ inputs.NAIS_VARS }}