@import (reference) '../../../../styling-variabler.less';
@import (reference) '~nav-frontend-modal-style/src/index';

.lesMerPanel {
    padding: 0 !important;

    &__mer ul {
        margin: 0;
    }

    &__toggleChevron {
        margin-left: 0.5rem;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &__togglelink {
        flex-direction: row-reverse !important;
    }

    &__toggle {
        justify-content: flex-start !important;
    }
}

.delskjerm {
    &__modal.modal {
        all: unset;
        .modal;
        max-width: 35rem;
        overflow: visible;
    }

    &__content {
        @media @screen-desktop {
            padding: 3rem 4rem 2rem 4rem;
        }
        @media @screen-mobile {
            padding-top: 2rem;
        }
    }

    &__overskrift {
        display: flex;
        & > * {
            margin-right: 0.5rem;
        }
    }

    &__beskrivelse {
        margin: 1rem 0 1.5rem 0;
    }

    &__header {
        width: 100%;
        top: -3rem;
        left: 0;
        display: flex;
        position: absolute;
        justify-content: center;
    }

    &__veileder {
        height: 5rem;
        border-radius: 2.25rem;
    }

    &__knapper {
        margin-top: 1rem;
        display: flex;
        @media @screen-mobile {
            flex-direction: column;
        }

        > * {
            margin: 0.5rem 0.5rem 0 0;
        }

        .knapp--hoved {
            .safari-text-color-fix-mixin(@white, @white, @white, @navds-global-color-blue-500);
        }

        .knapp--flat {
            .safari-text-color-fix-mixin(@navds-global-color-blue-500, @navds-global-color-blue-500, @navds-global-color-blue-500, @navds-global-color-blue-500);
        }
    }
}
